@import url(https://fonts.googleapis.com/css?family=Open+Sans:400italic,600italic,700italic,400,600,700);

body { 
    font-family: 'Open Sans', sans-serif;
    background-color: #000;
}

div#contents {
    background-color: #fffbf5;
    padding-bottom: 40px;
    margin-top: 4em;
}

div#contents h1:first-child {
    margin: 0;
    padding: 1em;
    background-color: #cf490d;
    color: white;
    text-indent: 0.5em;
    font-weight: normal;
}

div#contents > h2 {
    background-color: #f58f00;
    color: white;
    font-size: 125%;
    text-indent: 0.75em;
    padding: 0.3em;
    margin: 4em 0 1em 0;
}

div#contents > h2.compress {
    margin-top: 2em;
}

div#contents > h1+h2,
div#contents > h1+h2.compress {
    margin-top: 0;
}

h2 {
    font-family: 'Open Sans', sans-serif;
}

h3 {
    font-family: 'Open Sans', sans-serif;
}

h4 {
    font-family: 'Open Sans', sans-serif;
}

h5 {
    font-family: 'Open Sans', sans-serif;
}

h6 {
    font-family: 'Open Sans', sans-serif;
}

p { 
    font-family: 'Open Sans', sans-serif;
    width: 90%;
}

div#contents > * {
    margin-left: 1em;
}

a {
    color: #0d93cf;
    font-weight: bold;
}

a:hover {
    font-weight: bolder;
    color: #0d93cf;
}


/***************************************************************/
/*           NAVIGATION BAR                                    */
/***************************************************************/

.navbar { 
    font-family: 'Open Sans', sans-serif;
    margin-top: 0;
    margin-bottom: 0;
    background-color: #000;
    color: white;
    border-radius: 0;
    position: fixed;
    top: 0;
    width: 100%;
}

.navbar a:hover,
.navbar-nav > li > a:hover {
    color: yellow;
}

.navbar-brand {
    font-family: 'Open Sans', sans-serif;
    color: inherit;
    font-size: 22px;
    font-weight: bolder;
}

.navbar-nav>li>a {
    text-transform: uppercase;
    font-size: 14px;
    color: inherit;
    font-weight: bold;
}

.navbar-nav ul {
  text-align: left;
  display: inline;
  margin: 0;
  list-style: none;
}

.navbar-nav ul li {
  font: bold 12px/18px sans-serif;
  display: inline-block;
  margin-right: -4px;
  position: relative;
  padding: 10px 5px;
  background: #fff;
  cursor: pointer;
  -webkit-transition: all 0.2s;
  -moz-transition: all 0.2s;
  -ms-transition: all 0.2s;
  -o-transition: all 0.2s;
  transition: all 0.2s;
}

.navbar-nav ul li:hover {
}

.navbar-nav ul li a {
    text-transform: uppercase;
    font-family: 'Open Sans', sans-serif;
    font-size: 12px;
    color: #333;
    font-weight: 600;
    padding-left: 10px;
}

.navbar-nav ul li a:hover {
    text-decoration: none;
    /*color: #9400D3;*/
}

.navbar ul li ul {
  padding: 0;
  width: 150px;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  display: none;
  opacity: 0;
  visibility: hidden;
}
.navbar ul li ul li { 
  display: block; 
  width: 150px;
}
.navbar ul li ul li:hover { background: #fff; }
.navbar ul li:hover ul {
  display: block;
  opacity: 1;
  visibility: visible;
}

.nav-active { 
    color: #0099cc !important;
    text-transform: uppercase;
    font-size: 12px;
}



/***************************************************************/
/*           HOME PAGE FEATURE BUTTONS                         */
/***************************************************************/


p.start {
    width: 95%;
    text-align: center;
    font-weight: bold;
}

nav#support-nav {
    width: 100%;
    margin: 2em 0em;
}

nav#support-nav > div.framing {
    max-width: 62em;
    margin: auto;
}

nav#support-nav div.button {
    text-align: center;
    float:left;
    margin-left: 2em;
    margin-top: 1em;
    width: 17em;
    height: 15em;
    color: #000;
    background-color: #ffebce;
    border: 1px solid #bbb;
}

div.button a {
    font: inherit;
    color: inherit;
    width: 100%;
    text-decoration: none;
}

div.button span.button-hd {
    font-weight: bold;
    font-size: 120%;
    color: rgb(0,102,204);
    background-color: #fffbf5;
    display: block;
    width: 100%;
    height: 3em;
    padding-top: 0.75em;
}

div.button p {
    height: 100%;
    width: 100%;
    padding: 0.3em;
}

nav#support-nav p {
    margin-top: 0.5em;
}

div#contents > h2.pad-top {
    margin-top: 2em;
}


div.front { width: 100%; }
div.front-left { float: left; width: 45%; margin-right: 40px; height: 300px; }
div.front-right { margin-left: 20px; }



/***************************************************************/
/*           TABLES                                            */
/***************************************************************/

th {
    text-transform: uppercase;
    text-align: center;
}

.table { 
    font-family: 'Open Sans', sans-serif;
    width: auto;
}

.table thead>tr>th, .table tbody>tr>th, .table tfoot>tr>th, .table thead>tr>td, .table tbody>tr>td, .table tfoot>tr>td {
    vertical-align: middle;
}



/***************************************************************/
/*           BORDERED TABLES                                   */
/***************************************************************/

.table-bordered {
    border-collapse: collapse;
    border: 0;

}

.table-bordered>thead>tr>th, .table-bordered>tbody>tr>th, .table-bordered>tfoot>tr>th, .table-bordered>thead>tr>td, .table-bordered>tbody>tr>td, .table-bordered>tfoot>tr>td {
     border: 1px solid #0099cc;
}

.table-bordered>thead>tr>th { 
    padding: 20px !important;
    border: 1px solid #0099cc !important;
}

.table-bordered>thead {
    margin-bottom: 15px;
}

.table-bordered>tbody>tr>td a {
  /*  color: #9400D3;*/
}


/***************************************************************/
/*           FEATURE TABLES                                    */
/***************************************************************/

.table-feature td,
.table-feature th{
    text-align: center;
    width: 8em;
    border-right: 1px solid #ddd;
    vertical-align: middle;
}

.table-feature>thead>tr>th {
    background-color: #faf0ec;
}
.table-feature>tbody>tr>th {
    font-weight: normal;
}

.table-feature>tbody>tr:nth-child(odd)>th,
.table-feature>tbody>tr:nth-child(odd)>td {
    background-color: #fff;
}

.table-feature>tbody>tr:nth-child(even)>th,
.table-feature>tbody>tr:nth-child(even)>td {
    background-color: #ecf6fa;
}


/***************************************************************/
/*           RS SUMMARY TABLES                                 */
/***************************************************************/


.table-striped>thead>tr>th {
    background-color: #faf0ec;
}

.table-striped td {
    text-align: center;
    width: 125px;
}

.table-striped td a {
    font-weight: normal;
    color: rgb(0,102,204);
}

.table-striped>tbody>tr:nth-child(odd)>th,
.table-striped>tbody>tr:nth-child(odd)>td {
    background-color: #fff;
}

.table-striped>tbody>tr:nth-child(even)>th,
.table-striped>tbody>tr:nth-child(even)>td {
    background-color: #ecf6fa;
}


/***************************************************************/
/*           RS REPORT TABLES                                  */
/***************************************************************/


nav.category-list {
    margin-top: 2em;
    margin-left: 2em;
}

nav.category-list h2 {
    font-size: 120%;
    font-weight: bold;
    text-indent: 0.5em;
}

.category-summary {
    width: 32em;
    border: 1px solid #ddd;
}

.category-summary>thead>tr>th {
    text-align: left;
    background-color: #faf0ec;
}

.category-summary th,
.category-summary td {
    padding: 0.3em;
}

.category-summary td a {
    font-weight: normal;
    color: rgb(0,102,204);
}

.category-summary>tbody>tr:nth-child(odd)>th,
.category-summary>tbody>tr:nth-child(odd)>td {
    background-color: #fff;
}

.category-summary>tbody>tr:nth-child(even)>th,
.category-summary>tbody>tr:nth-child(even)>td {
    background-color: #ecf6fa;
}

td.score {
    font-weight: bold;
}

br {
    clear: both;
}

div#contents > .rs-category {
    font-size: 140%;
    font-weight: normal;
    text-indent: 0;
    color: #cf490d;
    background-color: inherit;
    margin-top: 3em;
    padding: 0;
    width: 42.9em;
    border-radius: 0;
}

div#contents > h2.rs-category{
    font-size: 220%;
    margin-top: 2em;
    margin-left: 0.5em;
    width: auto;
}

div#contents > dl+h3.rs-category{
    margin-top: 0em;
}

.table-condensed th {
    text-align: left;
}

.table-condensed th.feature-hd,
.table-condensed th.result-hd {
    width: 10em;
}

.table-condensed th.test-hd {
    width: 40em;
}

.table-condensed .category .result {
    font-size: 120%;
    font-weight: bold;
    padding: 0;
    margin: 0;
}

.table-condensed h3,
.table-condensed .feature .result {
    font-size: 110%;
    font-weight: bold;
    padding: 0;
    margin: 0;
}

.table-condensed>tbody>tr:nth-child(odd)>th,
.table-condensed>tbody>tr:nth-child(odd)>td,
.table-condensed>tbody>tr:nth-child(even)>th,
.table-condensed>tbody>tr:nth-child(even)>td {
    background-color: white;
    border: none;
}

.table-condensed>thead>tr>th {
    background-color: #faf0ec;
}

.table-condensed>tfoot>tr.score>th,
.table-condensed>tfoot>tr.score>td {
    background-color: #faf0ec;
}

.table-condensed>tbody>tr.feature>td {
    background-color: #ecf6fa;
}

.table-condensed > tbody > tr >td.test {
    border-bottom: 1px solid #ecf6fa;
}

span.top {
    float: right;
    margin-right: 7em;
}

span.top a {
    font-size: 50%;
}


/***************************************************************/
/*           SUPPORT CELLS                                     */
/***************************************************************/

.table-feature > tbody > tr > td.supported,
.table-condensed > tbody > tr > td.supported {
    background-color: green;
    color: white;
}

.table-feature > tbody > tr > td.unsupported,
.table-condensed > tbody > tr > td.unsupported {
    background-color: red;
    color: white;
}

.table-feature > tbody > tr > td.other,
.table-condensed > tbody > tr > td.other {
    background-color: rgb(245,245,245);
    color: black;
}



.table-bordered>tbody>tr {
    border-bottom: 15px solid white;
}

.tablesorter-header-inner a {
    color: #333;
}

.tablesorter-header-inner a:hover {
    text-decoration: none;
    /*color: #9400D3;*/
}

.table>tr.category { 
    background-color: purple;
}

td.filter-checkbox-test { 
    background-color: white !important;
    border-top: 1px solid #ddd !important;
    border-bottom: 1px solid #ddd !important;
}

td.filter-testid { 
    background-color: white !important;
    border-top: 1px solid #ddd !important;
    border-bottom: 1px solid #ddd !important;
    width: 20%;
    padding-left: 60px !important;
}

td.filter-desc-test { 
    background-color: white !important;
    border-top: 1px solid #ddd !important;
    border-bottom: 1px solid #ddd !important;
    width: 50%;
}

td.filter-req { 
    background-color: white !important;
    border-top: 1px solid #ddd !important;
    border-bottom: 1px solid #ddd !important;
}

tr.category-h1 h1 {
    color: #fff;
    margin: 10px 0;
    text-transform: none !important;
}

tr.category-h1>td { 
    background-color: #008AB8 !important;
}

tr.category-h2 h2 {
    font-weight: bold;
    margin-left: 10px;
}
tr.category-h2>td { 
    background-color: #72d0f4 !important;
    border-top: 1px solid #ddd !important;
    border-bottom: 1px solid #ddd !important;
}

tr.category-h3 h3 {
    font-weight: 400;
    margin-left: 20px;
    margin-top: 10px;
    margin-bottom: 10px;
    color: #333;
}

tr.category-h3>td { 
    background-color: #b0eafd !important;
    border-top: 1px solid #ddd !important;
    border-bottom: 1px solid #ddd !important;
}

tr.category-h4 h4 {
    margin-left: 30px;
    margin-bottom: 10px;
    margin-top: 10px;
}

tr.category-h4>td { 
    background-color: #caf2ff !important;
    border-top: 1px solid #ddd !important;
    border-bottom: 1px solid #ddd !important;
}

tr.category-h5 h5 { 
    margin-left: 40px;
    margin-bottom: 10px;
}

tr.category-h5>td { 
    background-color: #eaf8fc !important;
}

tr.category-h6 h6 { 
    margin-left: 55px;
}

.ui-widget-content {
    border: 1px solid #ddd !important;
}

.ui-widget-content tr {
    border-bottom: 10px solid white;
    background-color: #eaf8fc !important;
}

.ui-accordion-header {
    font-size: 18px;
}

td.results-test { 
    background-color: #eaf8fc !important;
    padding: 20px !important;
    width: 20% !important;
}

td.results-desc { 
    background-color: #eaf8fc !important;
    padding: 20px !important;
}

td.results-req { 
    background-color: #eaf8fc !important;
    padding: 20px !important;
}

td.results-result { 
    background-color: #eaf8fc !important;
    padding: 20px !important;
}

td.results-notes { 
    background-color: #eaf8fc !important;
    padding: 20px !important;
}
.category-h1 {
    background-color: #008AB8 !important;
    border-top: 1px solid #ddd !important;
    border-bottom: 1px solid #ddd !important;    
}
.category-h1.scroll-to-fixed-fixed {
    background-color: #008AB8 !important;
    border-top: 1px solid #ddd !important;
    border-bottom: 1px solid #ddd !important;
}
.category-h1.scroll-to-fixed-fixed h1 {
    padding-left: 65px;
}
input.fixed {
    float: right;
    margin: 30px 20px;
}
#input-wrapper.top-input {
  z-index: 99;
  position: fixed;
  right: 4.2%;
  width: 150px;
  height: 50px;
  background: rgba(0, 153, 204, 0.5);
}
input.top-input {
  margin-top: 8%;
  float: right;
  margin-right: 35px;
}
input.top-input:hover {
    /*background: #9400D3;*/
    color: #fff;
}
.progress { 
    height: 20px !important;
}

.progress-bar {
    background-color: #0099cc;
}

.progress-bar span {
    vertical-align: middle;
}

form#testsuite_form .results table>tbody>tr {
    border-bottom: 0;
}

form#testsuite_form .results table>tbody>tr>td {
    /*padding: 10px !important;*/
}

.results table { 
    padding-top: 50px;
}

.results tr.header-row { 
    border-top: 2px solid #0099cc;
    border-bottom: 2px solid #0099cc;
}

.results table>tbody>tr {
    border-bottom: 10px solid white;
}

form#testsuite_form .results table {
    margin-right: 0;
}

.results td.reading_system_name { 
    border-right: 40px solid white !important;
}

[data-column="0"] {
    border-right: 40px solid white !important;
}

.results td.result {
    padding: 15px !important;
}
.results td.result.danger {
    background-color: #ffcccc;
    border: 1px solid #fff;
}

.results td.result.success {
    background-color: #c5de9e;
    border: 1px solid #fff;
}

.results td[data-column="0"] {
    width: 30.7% !important;
}
.results td.tablesorter-header {

}

.results tr.test_descriptions>td {

}


footer {
    text-align: center;
    margin-top: 0px;
    padding-top: 20px;
    padding-bottom: 30px;
    border-top: 1px solid black;
    background-color: #fffbf5;
}

footer img {
    margin-right: 40px; margin-bottom: 20px; 
}

h1 {
    margin-top: 40px;
    margin-bottom: 40px;
    font-size: x-large;
    font-family: 'Open Sans', sans-serif;
    font-weight: bold;
    color: #333;
}

div.results h1 {
    text-transform: none !important;
}
.edit-rs label {
    display: block;
}

.confirm-warning {
    margin-top: 20px;
    margin-bottom: 40px;
}

.eval-list-header, .pct-complete, .rs-details {
    font-style: italic;
    font-size: smaller;
    margin-bottom: 0px;
}

.results-result label {
    font-size: small;
    font-weight: normal;
    font-style: italic;
}

.results-test {
    width: 10%;
}

.results-desc {
    width: 50%;
}

.results-req {
    width: 10%;
}

.results-result {
    width: 15%;
}

.results-notes {
    font-style: italic;
    font-size: smaller;
}

.results h1 {
    font-size: x-large;
}

.results h2 {
    font-size: large;
    font-weight: bold;
    margin-bottom: 20px;
}

.results h3 {
    font-size: medium;
    color: #0099cc;
    margin: 0 0 20px 20px;
    font-weight: bold;
}

.results h4 {
    font-size: medium;
    font-size: medium;
    color: #333;
    margin: 0 0 20px 20px;
    font-weight: bold;
}

.results h5 {
    font-style: italic;
    font-weight: bold;
    margin-left: 40px;
    margin-bottom: 20px;
}

.results h6 {
     font-style: italic;
    font-weight: bold;
    margin-left: 50px;   
}

.panel-left, .panel-right {
    display: table-cell;
}

.panel-left {
    width: 55%;
}

.panel-right {
    width: 25%;
    padding-right: 20px;
}

.panel-right a {
    color: black;
}

.required *:before {
    content: "*";
    color: red;
}

.error *{
    border: thin red solid;
}

ul.scores li {
    font-size: smaller;
    font-style: italic;
    text-align: left;
    white-space: nowrap;
    line-height: 30px;
}

ul.scores li.total {
    font-weight: bolder;
}


dt:after {
    content: ":";
}

span.new-test, span.changed-test {
    font-size: small;
    font-variant: small-caps;
}

.filter-checkbox {
    width: 10%;
}

.filter-testid {
    width: 10%;
}

.filter-desc {
    width: 70%;
}

.filter-req {
    width: 10%;
}

.category {
    padding: 0;
}
.category h1, .category h2 {
    margin-top: 10px;
    margin-bottom: 0;
}

span.warn {
    color: #c09853;
    background-color: #fcf8e3;
}

.header-row td {
    font-weight: bold;
    padding: 20px !important;
}

.manage-name {
    width: 15%;
}
.manage-version {
}
.manage-os {
}
.manage-locale {
}
.manage-sdk {
}
.manage-status {
    width: 25%;
}
.manage-actions {
    width: 25%;
}
.manage-visibility {
    width: 25%;
}

.flagged-list {
    -moz-column-count: 3;
    -moz-column-gap: 20px;
    -webkit-column-count: 3;
    -webkit-column-gap: 20px;
    column-count: 3;
    column-gap: 20px;
}

.flagged-list .notes {
    font-style: italic;
    font-size: smaller;
}

.category-list li {
    text-decoration: underline;
}

.category-list .current {
    font-style: italic;
    text-decoration: None;
}

.dl-horizontal dt{
    text-align: left;
    margin-bottom: 1em;
    width: auto;
    padding-right: 1em;
    /*color: #9400D3;*/
}
.dl-horizontal dd{
    margin-left: 0;
}

.panel { 
    padding: 25px;
    margin-top: 30px;
}

.ui-state-default { 
    background: #caf2ff !important;
    border: 1px solid #ddd !important;
}

/* tablesorter arrows */
.tablesorter-default .header,
.tablesorter-default .tablesorter-header {
    background-image: url(data:image/gif;base64,R0lGODlhFQAJAIAAACMtMP///yH5BAEAAAEALAAAAAAVAAkAAAIXjI+AywnaYnhUMoqt3gZXPmVg94yJVQAAOw==);
    background-position: center right;
    background-repeat: no-repeat;
    cursor: pointer;
    white-space: normal;
    padding: 4px 20px 4px 4px;
}
.tablesorter-default thead .headerSortUp,
.tablesorter-default thead .tablesorter-headerSortUp,
.tablesorter-default thead .tablesorter-headerAsc {
    background-image: url(data:image/gif;base64,R0lGODlhFQAEAIAAACMtMP///yH5BAEAAAEALAAAAAAVAAQAAAINjI8Bya2wnINUMopZAQA7);
    /*border-bottom: #000 2px solid;*/
}
.tablesorter-default thead .headerSortDown,
.tablesorter-default thead .tablesorter-headerSortDown,
.tablesorter-default thead .tablesorter-headerDesc {
    background-image: url(data:image/gif;base64,R0lGODlhFQAEAIAAACMtMP///yH5BAEAAAEALAAAAAAVAAQAAAINjB+gC+jP2ptn0WskLQA7);
    /*border-bottom: #000 2px solid;*/
}

.sticky-header {
    position: fixed;
    overflow: hidden;
    z-index: 1;
}

.sticky-header table {
    background-color: #fff;
}

.sticky-table-for-shifting {
    position: absolute;
    left: 0;
    top: 0;
}

.hidden {
    display: none !important;
}

.features-list {
     -webkit-column-count: 4; /* Chrome, Safari, Opera */
    -moz-column-count: 4; /* Firefox */
    column-count: 4;
    -webkit-column-gap: 40px; /* Chrome, Safari, Opera */
    -moz-column-gap: 40px; /* Firefox */
    column-gap: 40px;
    margin-bottom: 2em;
    list-style-type: square;
}

.features-list a {
    font-weight: normal;
    font-size: 110%;
}

.bold {
    font-weight: bold;
}

h1+p {
    margin-top: 1em;
}


@media screen and (max-width: 720px) {
    .navbar a.navbar-brand {
        float: left;
        margin: 0;
    }

    .container {
        width: 100% !important;
        padding: 20px !important;
    }
    .container .front-left {
        width: 100% !important;
        height: auto !important;
    }
}

@media screen and (min-width: 768px) {
    .navbar {
        max-height: 50px;
    }
}

@media screen and (min-width: 720px) {
    .front-right {
        width: 45%;
        float: left;
    }
}
