
footer {
        padding-top: 40px;
        padding-bottom: 30px;
        margin-top: 100px;
}

h1 {
    margin-top: 40px;
    margin-bottom: 40px;
    font-size: x-large;
}

.edit-rs label {
    display: block;
}

.confirm-warning {
    margin-top: 20px;
    margin-bottom: 40px;
}

.eval-list-header, .pct-complete, .rs-details {
    font-style: italic;
    font-size: smaller;
    margin-bottom: 0px;
}

.results-result label {
    font-size: small;
    font-weight: normal;
    font-style: italic;
}

.results-test {
    width: 10%;
}

.results-desc {
    width: 50%;
}

.results-req {
    width: 10%;
}

.results-result {
    width: 15%;
}

.results-notes {
    font-style: italic;
    font-size: smaller;
}

.results h1 {
    font-size: x-large;
}

.results h2 {
    font-size: large;
}

.results h3 {
    font-size: medium;
}

.results h4 {
    font-size: medium;
}

.results h5, .results h6 {
    font-style: italic;
    font-weight: bold;
}

.panel-left, .panel-right {
    display: table-cell;
}

.panel-left {
    width: 55%;
}

.panel-right {
    width: 25%;
    padding-right: 20px;
}

.panel-right a {
    color: black;
}

.required *:before {
    content: "*";
    color: red;
}

.error *{
    border: thin red solid;
}

ul.scores li {
    font-size: smaller;
    font-style: italic;
    text-align: left;
    white-space: nowrap;
    line-height: 30px;
}

ul.scores li.total {
    font-weight: bolder;
}


dt:after {
    content: ":";
}

span.new-test, span.changed-test {
    font-size: small;
    font-variant: small-caps;
}

.filter-checkbox {
    width: 10%;
}

.filter-testid {
    width: 10%;
}

.filter-desc {
    width: 70%;
}

.filter-req {
    width: 10%;
}

.category {
    padding: 0;
}
.category h1, .category h2 {
    margin-top: 10px;
    margin-bottom: 0;
}

span.warn {
	color: #c09853;
	background-color: #fcf8e3;
}

.header-row td {
	font-weight: bold;
}

.manage-name {
    width: 15%;
}
.manage-version {
}
.manage-os {
}
.manage-locale {
}
.manage-sdk {
}
.manage-status {
    width: 25%;
}
.manage-actions {
    width: 25%;
}
.manage-visibility {
    width: 25%;
}

#flagged-list {
    -moz-column-count: 3;
    -moz-column-gap: 20px;
    -webkit-column-count: 3;
    -webkit-column-gap: 20px;
    column-count: 3;
    column-gap: 20px;
}

#flagged-list .notes {
    font-style: italic;
    font-size: smaller;
}

#category-list li {
    text-decoration: underline;
}

#category-list .current {
    font-style: italic;
    text-decoration: None;
}

.dl-horizontal dt{
    text-align: left;
    margin-bottom: 1em;
    width: auto;
    padding-right: 1em;
}
.dl-horizontal dd{
    margin-left: 0;
}

/* tablesorter arrows */
.tablesorter-default .header,
.tablesorter-default .tablesorter-header {
    background-image: url(data:image/gif;base64,R0lGODlhFQAJAIAAACMtMP///yH5BAEAAAEALAAAAAAVAAkAAAIXjI+AywnaYnhUMoqt3gZXPmVg94yJVQAAOw==);
    background-position: center right;
    background-repeat: no-repeat;
    cursor: pointer;
    white-space: normal;
    padding: 4px 20px 4px 4px;
}
.tablesorter-default thead .headerSortUp,
.tablesorter-default thead .tablesorter-headerSortUp,
.tablesorter-default thead .tablesorter-headerAsc {
    background-image: url(data:image/gif;base64,R0lGODlhFQAEAIAAACMtMP///yH5BAEAAAEALAAAAAAVAAQAAAINjI8Bya2wnINUMopZAQA7);
    /*border-bottom: #000 2px solid;*/
}
.tablesorter-default thead .headerSortDown,
.tablesorter-default thead .tablesorter-headerSortDown,
.tablesorter-default thead .tablesorter-headerDesc {
    background-image: url(data:image/gif;base64,R0lGODlhFQAEAIAAACMtMP///yH5BAEAAAEALAAAAAAVAAQAAAINjB+gC+jP2ptn0WskLQA7);
    /*border-bottom: #000 2px solid;*/
}
