{% load testsuite_extras %}

{% if category.results|length > 0 %}

        <tr class="category">
            <td class="filter-checkbox">
                <input type="checkbox" name="category-selected" value="{{category.item.id}}" class="category {{ category.item|get_parent_ids }}"/>
            </td>
            <td colspan="3">
            {% get_category_heading category.item as heading_tag %}
            <{{heading_tag}} id="c{{category.item.id}}">{{ category.item.name }}</{{heading_tag}}>
            </td>
        </tr>

        {% for t in category.tests %}
            <tr>
                <td class="filter-checkbox">
                    <input type="checkbox" name="test-selected" value="{{t.id}}" class="test {{ t|get_parent_ids }}"/>
                </td>
                <td class="filter-testid">{{t.testid}}</td>
                <td class="filter-desc">{{t.description}}</td>
                <td class="filter-req">
                {% if t.required == True %}
                    Required
                {% else %}
                    Optional
                {% endif %}
                </td>
            </tr>
        {% endfor %}
{% endif %}

{% for subcat in category.subcategories %}
    {% category_compare_form subcat %}
{% endfor %}

