{% load assignments %}
{% load filters %}
{% load inclusions %}


<dl class="dl-horizontal">
    <dt>Name</dt>
    <dd>{{ rs.name }}</dd>

    <dt>Version</dt>
    <dd>{{ rs.version }}</dd>

    {% if rs.operating_system|length > 0 %}
    <dt>Operating system</dt>
    <dd>{{ rs.operating_system }}</dd>
    {% endif %}

    {% if rs.locale|length > 0 %}
    <dt>Locale</dt>
    <dd>{{ rs.locale}}</dd>
    {% endif %}

{% if show_abridged == False %}
    {% if rs.sdk_version|length > 0 %}
    <dt>Notes</dt>
    <dd>{{ rs.notes }}</dd>
    {% endif %}

    <dt>Evaluated</dt>
    <dd> 
    {% get_default_result_set rs as result_set%}
    {{result_set.last_updated }}</dd>
    
    <dt>Status</dt>
    <dd>
    {% is_reading_system_archived rs as is_archived %}
    {% if is_archived %}
    Archived
    {% else %}
    Current
    {% endif %}
    </dd>

{% endif %}
</dl>
