<div id="tblChange" style="margin-top: 1rem;">
    <p class="small">
        <span style="padding-right: 1rem;">Table view:</span>
        <span aria-labelledby="tbl-acc-opt">
            <a class="normal" href="#basic" id="basic" onclick="dt.tableType='basic'; dt.setUserView(); location.reload(); return false;">Basic</a>
            | <a class="normal" href="#hd" id="hd" onclick="dt.tableType='hd'; dt.setUserView(); location.reload(); return false;">Fixed Header</a>
            | <a class="normal" href="#col" id="col" onclick="dt.tableType='col'; dt.setUserView(); location.reload(); return false;">Scrolled</a>
        </span>
        <span id="tbl-acc-opt" style="padding-left: 1rem;"><i>(The basic view is best for screen readers.)</i></span>
    </p>
</div>
