{% extends 'base.html' %}

{% block title %}:: About{% endblock %}

{% block content %}
<h1>About</h1>

<p>This website presents a summary of Reading System performance evaluations for features in <a target="_blank" href="http://idpf.org/epub/30">EPUB 3.0</a>. The feature tests come from the <a href="/testsuite/">EPUB Testsuite</a>, a freely available collection of material created specifically for this purpose. The primary focus of the collection is on binary (pass/fail) tests. At present, the current testing process involves evaluation and recording of results by humans (as opposed to being fully automated, since not all EPUB Reading Systems presently support JavaScript and/or network access).</p>

<p>Tests used to evaluate reading systems are labeled either Required or Optional. This refers to whether the feature in the specification being tested is required or optional. Scores are calculated as a percentage of tests passed divided by the total number of tests, regardless of whether the test is required or optional.</p>

{% endblock %}
