{% extends 'base.html' %}

{% block title %}:: About{% endblock %}

{% block content %}
<h1>About</h1>

<p>This website presents a summary of Reading System performance evaluations for features in <a target="_blank" href="http://idpf.org/epub/30">EPUB 3.0</a>. The feature tests come from the <a target="_blank" href="https://github.com/mgylling/epub-testsuite">EPUB Testsuite</a>, a freely available collection of material created specifically for this purpose. Testing is performed by humans (as opposed to being automated).</p>

{% endblock %}
