{% extends 'base.html' %}
{% load assignments %}
{% load filters %}
{% load inclusions %}

{% block title %}:: Accessibility Evaluations{% endblock %}

{% block script %}
<script src="/media/js/jquery.tablesorter.min.js"></script>
<script>
$(document).ready(function() {
 $("table").tablesorter({
    headers: {
      // disable sorting on these columns
      7: { sorter: false},
    }});
});

</script>
{% endblock %}
{% block content %}

<h1>Accessibility Evaluations</h1>

{% reading_system_details_list rs True %}

{% if result_sets|length == 0 %}
    {% if edit == True %}
    <p class="well">No data available. You can start by adding an accessibility evaluation.</p>
    {% else %}
    <p class="well">No data available.</p>
    {% endif %}
{% else %}
<table class="table table-striped table-bordered">
        <thead>
            <tr>
                <th class="text-center"><a href="#" title="Sort by name">Assistive Technology</a></th>
                <th class="text-center"><a href="#" title="Sort by score">Score</a></th>
                <th class="text-center"><a href="#" title="Sort by percent complete">Percent complete</a></th>
                <th class="text-center"><a href="#" title="Sort by input type">Input Type</a></th>
                <th class="text-center"><a href="#" title="Sort by supports screenreader output">Supports Screenreader Output</a></th>
                <th class="text-center"><a href="#" title="Sort by supports Braille output">Supports Braille output</a></th>
                {%if edit == True %}
                    <th class="text-center">Actions</th>
                    <th class="text-center">Visibility</th>
                {% endif %}
                    

            </tr>
        </thead>
        <tbody>
        {% for result_set in result_sets %}
            {% user_can_change_result_set_visibility user result_set '1' as can_make_members_only %}
            {% user_can_change_result_set_visibility user result_set '2' as can_make_public %}
            {% user_can_change_result_set_visibility user result_set '3' as can_make_owner_only %}
            {% user_can_edit_accessibility_eval user result_set as can_edit_accessibility_eval %}
            {% get_metadata result_set as metadata %}
            <tr>
                <td>
                    {% if edit == True %}
                    <a href="/rs/{{rs.id}}/eval/accessibility/{{result_set.id}}">
                        {% if metadata.assistive_technology|length > 0 %} 
                            {{ metadata.assistive_technology }}
                        {% else %}
                            <span class="text-muted">Description not available</span>
                        {% endif %}
                    </a>
                    {% else %}
                        <a href="/rs/{{rs.id}}/accessibility/{{result_set.id}}">
                        {% if metadata.assistive_technology|length > 0 %} 
                            {{ metadata.assistive_technology }}
                        {% else %}
                            <span class="text-muted">Description not available</span>
                        {% endif %}
                        </a>
                    {% endif %}
                    <br/><br/>
                    <span class="rs-details">Added by {{ result_set.user|get_display_name }}</span>
                    {% if result_set.evaluation.flagged_for_review == True %}
                    <br/>
                    <span class="warn">This evaluation may not be current.</span>
                    {% endif %}
                </td>
                <td class="text-center">{% get_overall_score result_set as score %}{{ score.pct_total_passed}}%</td>
                <td class="text-center">{{result_set.percent_complete }}%</td>
                <td class="text-center">{{metadata|print_input_type}}</td>
                <td class="text-center">{{metadata.supports_screenreader|print_yes_no}}</td>
                <td class="text-center">{{metadata.supports_braille|print_yes_no}}</td>
                {%if edit == True %}
                    <td>
                        <ul>
                            <li><a href="/rs/{{rs.id}}/accessibility/{{result_set.id}}">View</a></li>
                            {% if can_edit_accessibility_eval == True %}
                            <li><a href="/rs/{{rs.id}}/eval/accessibility/{{result_set.id}}">Edit</a></li>
                            
                            <li><a href="/rs/{{rs.id}}/accessibility/{{result_set.id}}/delete">Delete</a></li>

                            {% endif %}
                        </ul>
                    </td>
                     <td class="manage-visibility">
                        <ul class="">
                            <li><span style="font-style: italic">Currently: {{ result_set|get_visibility }}</span></li>
                            {% if can_make_public %}
                            <li><a href="/rs/{{ rs.id }}/accessibility/{{result_set.id}}/visibility?set=2">Change to public</a></li>
                            {% endif %}

                            {% if can_make_members_only %}
                            <li><a href="/rs/{{ rs.id }}/accessibility/{{result_set.id}}/visibility?set=1">Change to members-only</a></li>
                            {% endif %}

                            {% if can_make_owner_only %}
                            <li><a href="/rs/{{ rs.id }}/accessibility/{{result_set.id}}/visibility?set=3">Change to owner-only</a></li>
                            {% endif %}  

                            {% if can_make_public == False and can_make_members_only == False and can_make_owner_only == False %}              
                            <li style="font-style: italic" class="text-muted">You do not have permission to change visibility.</li>
                            {% endif %}
                        </ul>
                    </td>
                {% endif %}
            </tr>
        {% endfor %}
        </tbody>
    </table>
    <p class="text-muted">*Note that an accessibility evaluation cannot have a higher visibility level than that of its reading system.</p>
    {% endif %}
    {% if edit == True %}
    <p><a class="btn btn-default" href="/rs/{{ rs.id}}/eval/accessibility/new" role="button">Add Accessibility Evaluation</a></p>
    {% endif %}
{% endblock %}
