{% extends 'base.html' %}
{% load assignments %}
{% load filters %}

{% block content %}

<h1>Accessibility Support</h1>

<p>The following reading systems have been evaluated for accessibility:</p>

    <table id="a11y" class="table table-striped">
        <thead>
            <tr>
                <th>#</th>
                <th>Name</th>
                <th class="none">OS</th>
                <th class="none">AT</th>
                    {% for category in testsuite.categories %}
                    <th class="none">{{category.name}}</th>
                    {% endfor %}
                <th class="none">Comments</th>
            </tr>
        </thead>
        <tbody>
            {% for evaluation in evaluations %}
                {% get_metadata evaluation as metadata %}
                
                <tr>
                    <td>{{forloop.counter}}</td>
                    <td><a href="/grid/{{evaluation.reading_system.id}}/testsuite/{{testsuite.testsuite_id}}#eval_{{evaluation.id}}">{{evaluation.reading_system.name}} {{evaluation.reading_system.version}}</a></td>
                    <td>{{evaluation.reading_system.operating_system}}</td>
                    <td>{{metadata.assistive_technology}}</td>
                        {% for category in testsuite.categories %}
                            {% get_score evaluation category as category_score %}
                            <td>
                                <a href="/grid/{{evaluation.reading_system.id}}/testsuite/{{testsuite.testsuite_id}}#eval_{{evaluation.id}}_cat_{{category.category_id}}">
                                {%if category_score.percent = 0 %}
                                N/A
                                {% else %}
                                    {{category_score.percent | floatformat}}%
                                {% endif %}
                                </a>
                            </td>
                        {% endfor %}
                    <td></td>
                </tr>
                
            {% endfor %}
        </tbody>
    </table>
    
    <script>
        $(document).ready(function(){
            var isMobile = window.matchMedia("only screen and (max-width: 760px)");
            if (isMobile.matches) {
                $('#a11y').DataTable({
                   "paging":   false,
                   "info": false,
                   "responsive": {
                        "details": {
                            "display": $.fn.dataTable.Responsive.display.childRowImmediate,
                            "type": ''
                        }
                   },
                   "oLanguage": {
                       "sSearch": "Filter Reading System(s): ",
                       "sSearchPlaceholder": "Enter a name, operating system or AT"
                   }
               });
            }
            else {
                $('#a11y').DataTable({
                    "paging":   false,
                    "info": false,
                    "fixedHeader": true,
                    "oLanguage": {
                        "sSearch": "Filter Reading System(s): ",
                        "sSearchPlaceholder": "Enter a name, operating system or AT"
                    },
                    "aoColumns": [
                        { "asSorting": [ "asc", "desc" ] },
                        { "asSorting": [ "asc", "desc" ] },
                        { "asSorting": [ "asc", "desc" ] },
                        { "asSorting": [ "asc", "desc" ] },
                        { "asSorting": [ "desc", "asc" ] },
                        { "asSorting": [ "desc", "asc" ] },
                        { "asSorting": [ "asc", "desc" ] },
                    ]
                });
            }
        });
    </script>

{% endblock %}
