{% extends 'base.html' %}
{% load assignments %}
{% load filters %}
{% load inclusions %}


{% block title %}:: All Evaluations{% endblock %}
{% block script %}

{% endblock %}

{% block content %}


<h1>All evaluations</h1>

<p>Jump to:</p>
<ul>
{% for testsuite in testsuites %}
<li><a href="#{{testsuite.testsuite_id}}">{{testsuite.name}}</a></li>
{% endfor %}
</ul>

{% include 'table_view_links.html' %}

{% for testsuite in testsuites %}
<h2 id="{{testsuite.testsuite_id}}">Testsuite: {{testsuite.name}}</h2>

<table id="tbl-{{testsuite.testsuite_id}}" class="table table-striped">
    <thead>
        <tr>
            <th colspan="5">Reading System</th>
            {% if testsuite.testsuite_type == "2" %}
            <th colspan="8">Evaluation</th>
            {% else %}
            <th colspan="7">Evaluation</th>
            {% endif %}
            <th colspan="1">Admin</th>
        </tr>
        <tr>
            <th>Name</th>
            <th>Version</th>
            {% if testsuite.testsuite_type == "2" %}
            <th>AT</th>
            {% endif %}
            <th>OS</th>
            <th>OS Version</th>
            <th>Owner</th>
            <th>Link</th>
            <th>Percent complete</th>
            <th>Last updated</th>
            <th>Published</th>
            <th>Archived</th>
            <th>Notes</th>
            <th>Owner</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
    {% for reading_system in reading_systems %}
        {% get_all_evaluations reading_system testsuite as evaluations %}
        {% for evaluation in evaluations %}
        <tr>
            <td>{{reading_system.name}}</td>
            <td>{{reading_system.version}}</td>
            {% if testsuite.testsuite_type == "2" %}
            <td>
                {%get_metadata evaluation as metadata %}
                {{metadata.assistive_technology}}
            </td>
            {% endif %}
            <td>{{reading_system.operating_system}}</td>
            <td>{{reading_system.operating_system_version}}</td>
            <td>{{reading_system.user.first_name}} {{reading_system.user.last_name}}</td>
            <td><a href="/evaluation/{{evaluation.id}}/" target="_blank">View</a></td>
            <td>{{evaluation.percent_complete}}%</td>
            <td>{{evaluation.last_updated}}</td>
            <td>{{evaluation.is_published | print_yes_no}}</td>
            <td>{{evaluation.is_archived | print_yes_no}}</td>
            <td>{{evaluation.notes}}</td>
            <td>{{evaluation.user.first_name}} {{evaluation.user.last_name}}</td>
            <td>
                <ul>
                    <li>
                    {% if evaluation.is_published %}
                        <a href="/evaluation/{{evaluation.id}}/unpublish/">Unpublish</a>
                    {% else %}
                        <a href="/evaluation/{{evaluation.id}}/publish/">Publish</a>
                    {% endif %}
                    </li>
                    <li>
                    {% if evaluation.is_archived %}
                        <a href="/evaluation/{{evaluation.id}}/unarchive/?return=/evaluation/all/">Unarchive</a>
                    {% else %}
                        <a href="/evaluation/{{evaluation.id}}/archive/?return=/evaluation/all/">Archive</a>
                    {% endif %}
                    </li>
                    <li>
                        <a href="/evaluation/{{evaluation.id}}/edit/?return=/evaluation/all/">Edit</a>
                    </li>
                    <li>
                        <a href="/evaluation/{{evaluation.id}}/delete/?return=/evaluation/all/">Delete</a>
                    </li>
                </ul>
        </tr>
        {% endfor %}
    {% endfor %}
    </tbody>
</table>

{% endfor %}

<script>
    var dt = new DT();
    
    $(document).ready(function(){
        setView('');
    });
    
    function setView(tblType) {
        dt.setTableType(tblType);
        var options = {
                serachable: true,
                setDefaultSort: true,
                changeDefaultSort: false,
                tableType: tblType,
                srchLabel: 'Find evaluation:',
                srchPlaceholder: 'Enter criteria to match'
            }
        dt.initialize(options);
    }
</script>
{% endblock %}
