{% load testsuite_extras %}
{% load analytical %}
<!doctype html>
<html lang="en">
<head>
    {% analytical_head_top %}
    <title>EPUBTest{% block title %}{% endblock %}</title>

    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Bootstrap -->
    <link href="/media/css/bootstrap.min.css" rel="stylesheet" media="screen">

    <!-- custom css -->
    <link href="/media/css/custom.css" rel="stylesheet" media="screen">
    

     <!-- JavaScript plugins (requires jQuery) -->
    <script src="http://code.jquery.com/jquery.js"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="/media/js/bootstrap.min.js"></script>
    <script src="http://code.jquery.com/ui/1.10.3/jquery-ui.js"></script>

    <!-- Enable responsive features in IE8 with Respond.js (https://github.com/scottjehl/Respond) -->
    <script src="/media/js/respond.min.js"></script>

    <link rel="stylesheet" href="http://code.jquery.com/ui/1.10.3/themes/smoothness/jquery-ui.css" />


    {%block script %}
    {% endblock %}

    {%block style %}
    <style>
        footer div {
            /*display: table-row;*/
        }
        footer div p, footer div img {
            /*display: table-cell;*/
        }
        footer img {

        }
    </style>
    {% endblock %}
    {% analytical_head_bottom %}
</head>

<body>
    {% analytical_body_top %}
    {% alerts messages %}


        <div class="navbar">
            <a class="navbar-brand" href="/">EPUBTest</a>
            <ul class="nav navbar-nav pull-right">
                <li><a href="/results/">View</a></li>
                <li><a href="/compare/">Compare</a></li>
                <li><a href="/testsuite/">Testsuite</a></li>
                {% if user.is_authenticated %}
                <li><a href="/manage/">Manage</a></li>
                <li><a href="/logout/">Logout</a></li>
                {% else %}
                <li><a href="/login/">Login</a></li>
                {% endif %}
                <li><a href="/about/">About</a></li>
            </ul>
            
        </div>

    <div class="container">
        



<div class="container">

        <div id="contents" class="">
        {% block content %}
            <p>CONTENTS GO HERE</p>
        {% endblock %}
        </div>

        <footer>
            <p><a href="http://bisg.org" target="_blank"><img src="/media/img/bisg_logo.gif" height="50px"/></a>
            <a href="http://idpf.org" target="_blank"><img src="/media/img/idpf_logo.jpg"/></a>
            <a href="http://daisy.org" target="_blank"><img src="/media/img/daisy_logo.png"/></a>
            </p>

            <p>EPUBTest.org development is sponsored by the <a target="_blank" href="http://daisy.org">DAISY Consortium</a> and the <a target="_blank" href="https://www.bisg.org">Book Industry Study Group</a>. Copyright 2013 <a target="_blank" href="http://idpf.org">International Digital Publishing Forum.</a> All rights reserved.</p>
            
        
        </footer>
    </div>
    {% analytical_body_bottom %}
</body>
</html>
