{% load assignments %}
{% load filters %}
{% load inclusions %}

{% comment %}
{% is_using_analytics as using_analytics %}

{% if using_analytics %}
{% load analytical %}
{% endif %}

{% endcomment %}

<!doctype html>
<html lang="en">
<head>
    {% comment %}
    {% if using_analytics %}
    {% analytical_head_top %}
    {% endif %}
    {% endcomment %}
    <title>EPUBTest{% block title %}{% endblock %}</title>

    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <meta name="viewport" content="width=device-width, initial-scale=1.0">
        
    <!-- DataTables -->
    <link rel="stylesheet" type="text/css" href="/media/datatables/datatables.min.css"/>
        
    <!-- Bootstrap -->
    <link href="/media/css/bootstrap.min.css" rel="stylesheet" media="screen">

    <!-- custom css -->
    <link href="/media/css/custom.css" rel="stylesheet" media="screen">
    

    <!-- JavaScript plugins (requires jQuery) -->
    <script src="http://code.jquery.com/jquery.js"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="/media/js/bootstrap.min.js"></script>
    <script src="http://code.jquery.com/ui/1.10.3/jquery-ui.js"></script>
    
    <!-- Enable responsive features in IE8 with Respond.js (https://github.com/scottjehl/Respond) -->
    <script src="/media/js/respond.min.js"></script>
    
    <!-- DataTables -->
    <script type="text/javascript" src="/media/datatables/datatables.min.js"></script>        
    <script type="text/javascript" src="/media/js/datatables-init.js"></script>        
    
    <script type="text/javascript" src="/media/js/js.cookie.js"></script>        
    
    <link rel="stylesheet" href="http://code.jquery.com/ui/1.10.3/themes/smoothness/jquery-ui.css" />
        
    {%block script %}
    {% endblock %}

    {%block style %}
    {% endblock %}
    
    {% comment %}
    {% if using_analytics %}
    {% analytical_head_bottom %}
    {% endif %}
    {% endcomment %}
</head>

<body>
{% comment %}
    {% if using_analytics %}
    {% analytical_body_top %}
    {% endif %}
    {% endcomment %}
    {% alerts messages %}


    {% if user.is_authenticated %}
        <div class="navbar navbar-manage">
            <p class="user">You are logged in as <strong>{{ user|get_user_display_name }}</strong>.</p>
            <ul class="nav navbar-nav pull-right" role="navigation">
                <li><a href="/manage/">Manage</a></li>
                <li><a href="/logout/">Logout</a></li>
            </ul>
        </div>
    {% endif %}
    
        <div class="navbar">
            <p class="logos"><img src="/media/img/bisg_logo.gif" height="30px" alt="BISG logo"/>
                <img src="/media/img/idpf_logo.jpg" height="30px" alt="IDPF logo"/>
                <img src="/media/img/daisy_logo.png" height="30px" alt="DAISY Consortium logo"/>
            </p>
            <ul class="nav navbar-nav pull-right" role="navigation">
                <li><a href="/">Home</a></li>
                <li><a href="/features/">Features</a></li>
                <li><a href="/testsuite/epub3/">Reading Systems</a></li>
                <li><a href="/testsuite/accessibility/">Accessibility</a></li>
                <li><a href="/testsuite/">Test Suite</a></li>
            </ul>
        </div>
    
    <div class="container">
        <div id="contents" class="">
        {% block content %}
            
        {% endblock %}
        </div>

        <footer>
            {% is_readonly as readonly %}
            {% if not user.is_authenticated and readonly == False %}
            <p>Please <a href="/login/">log in</a> to add or manage reading system reports.</p>
            {% endif %}
            <p>EPUBTest.org development is sponsored by the <a target="_blank" href="http://www.daisy.org">DAISY Consortium</a> and the <a target="_blank" href="https://www.bisg.org">Book Industry Study Group</a>.</p>
            <p>Copyright 2013 <a target="_blank" href="http://idpf.org">International Digital Publishing Forum.</a> All rights reserved.</p>
            {% get_site_last_updated as last_updated %}
            <p><em>Last updated {{last_updated}}.</em></p>
        </footer>
    </div>
    {% comment %}
    {% if using_analytics %}
    {% analytical_body_bottom %}
    {% endif %}
    {% endcomment %}
</body>
</html>
