{% load assignments %}
{% load filters %}
{% load inclusions %}

{% get_enable_analytics as using_analytics %}

{% if using_analytics %}
{% load analytical %}
{% endif %}
<!doctype html>
<html lang="en">
<head>
    {% if using_analytics %}
    {% analytical_head_top %}
    {% endif %}
    <title>EPUBTest{% block title %}{% endblock %}</title>

    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <meta name="viewport" content="width=device-width, initial-scale=1.0">
        
    <!-- DataTables -->
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/s/dt/dt-1.10.10,fc-3.2.0/datatables.min.css"/>
    <script type="text/javascript" src="https://cdn.datatables.net/s/dt/dt-1.10.10,fc-3.2.0/datatables.min.js"></script>
        
    <!-- Bootstrap -->
    <link href="/media/css/bootstrap.min.css" rel="stylesheet" media="screen">

    <!-- custom css -->
    <link href="/media/css/custom.css" rel="stylesheet" media="screen">
            

     <!-- JavaScript plugins (requires jQuery) -->
    <script src="http://code.jquery.com/jquery.js"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="/media/js/bootstrap.min.js"></script>
    <script src="http://code.jquery.com/ui/1.10.3/jquery-ui.js"></script>
    
    <!-- Enable responsive features in IE8 with Respond.js (https://github.com/scottjehl/Respond) -->
    <script src="/media/js/respond.min.js"></script>
    
    <!-- DataTables -->
    <script type="text/javascript" src="https://cdn.datatables.net/s/dt/dt-1.10.10,fc-3.2.0/datatables.min.js"></script>
        
    <link rel="stylesheet" href="http://code.jquery.com/ui/1.10.3/themes/smoothness/jquery-ui.css" />
        
    {%block script %}
    {% endblock %}

    {%block style %}
    {% endblock %}
    
    {% if using_analytics %}
    {% analytical_head_bottom %}
    {% endif %}
</head>

<body>
    {% if using_analytics %}
    {% analytical_body_top %}
    {% endif %}
    {% alerts messages %}


    {% if not user.is_authenticated %}
        <div class="navbar navbar-manage">
            <ul class="nav navbar-nav pull-right" role="navigation">
                <li><a href="/manage/">Manage</a></li>
                <li><a href="/logout/">Logout</a></li>
            </ul>
        </div>
    {% endif %}
    
        <div class="navbar">
            <ul class="nav navbar-nav pull-right" role="navigation">
                <li><a href="/">Home</a></li>
                <li><a href="/features/">Features</a></li>
                <li><a href="/grid/">Reading Systems</a></li>
                <li><a href="/accessibility/">Accessibility</a></li>
                <li><a href="/testsuite/">Test Suite</a></li>
            </ul>
        </div>
    
    <div class="container">
        
        <div id="contents" class="">
        {% block content %}
            <p>CONTENTS GO HERE</p>
        {% endblock %}
        </div>

        <footer>
            <p><a href="http://bisg.org" target="_blank"><img src="/media/img/bisg_logo.gif" height="50px" alt="BISG logo"/></a>
            <a href="http://idpf.org" target="_blank"><img src="/media/img/idpf_logo.jpg" alt="IDPF logo"/></a>
            <a href="http://daisy.org" target="_blank"><img src="/media/img/daisy_logo.png" alt="DAISY Consortium logo"/></a>
            </p>

            <p>Please <a href="login/">log in</a> to add or manage reading system reports. See the <a href="docs/instructions-for-evaluators/">instructions for evaluators</a> for more information.</p>
            <p>EPUBTest.org development is sponsored by the <a target="_blank" href="http://daisy.org">DAISY Consortium</a> and the <a target="_blank" href="https://www.bisg.org">Book Industry Study Group</a>.</p>
            <p>Copyright 2013 <a target="_blank" href="http://idpf.org">International Digital Publishing Forum.</a> All rights reserved.</p>
        </footer>
    </div>
    {% if using_analytics %}
    {% analytical_body_bottom %}
    {% endif %}
</body>
</html>
