{% extends 'base.html' %}

{% block title %}:: Call for Moderators{% endblock %}

{% block content %}
<h1>Call for Reading System Accessibility Testing Moderators</h1>

<p>Last modified: July 10, 2014<br/>
Editor: George Kerscher</p>

<p>Qualified, enthusiastic testers are needed to make sure all reading systems used for presentation of digital publishing of books, journals, magazines, coursework, and all other types of digital publications are fully accessible to persons with disabilities.</p>

<p>Visit: <a href="http://www.epubtest.org">http://www.epubtest.org</a> to review the work being done by the International Digital Publishing Forum (IDPF), the Book Industry Study Group (BISG), and the DAISY Consortium. The column titled “accessibility” is the focus of this call for moderators.</p>

<p>A moderator will be identified for each reading system on a specific platform (OS) and that moderator will help other volunteer evaluators to test and report findings using the Assistive Technology (AT) at their disposal.</p>

<p>Individuals should be independent, have accessibility experience including familiarity and knowledge of assistive technology and should understand the Daisy Reading System standards http://www.daisy.org/accessibility-screening-methodology-guidelines-and-checklist.html  This will be a demanding volunteer job that requires doing 1-2 tests first and then supervising the completion of several tests per week.  Initial responsibilities include recruiting evaluators, coordinating credentials and evaluating the evaluators, monitoring progress and being willing to verify results.</p>

<p>Example: Reading system HappyReader (fictional name) running on Windows 7 will have a moderator that manages volunteers to test Happy reader with the wide range of AT used on Windows 7. The screen reader JFW using TTS as output would be one evaluation performed; another volunteer evaluator would test HappyReader with NVDA using braille output; another tester would use screen magnification ZoomText and report the results, etc.  Because of the wide range of AT used by persons with disabilities, a crowd source approach is going to be used. We encourage organizations to sponsor the testing by having people assigned to specific reading systems and technology, e.g. a university using specific AT and specific reading systems should assign people to work on the testing and share their findings with the world.</p>

<p>Qualifications of moderators:</p>
<ul>
<li>Independent, self-motivated person</li>
<li>Experience with testing of the accessibility of software, websites, or reading systems.</li>
<li>Good knowledge of assistive technology</li>
</ul>


<p>Duties of Moderators</p>
<ul>
<li>Identify documentation for Reading Systems, e.g. user manual, getting started, use with Assistive Technology (AT)</li>
<li>Verify the qualification of evaluators</li>
<li>Approve or assign the reading system configuration to the evaluators.</li>
<li>Get the test forms completed by evaluators</li>
<li>Facilitate the crowd sourcing for recruiting evaluators</li>
<li>Coordinate with Reading system developer </li>
<li>Review and approve the test results submitted by the evaluator</li>
<li>Resolve the conflicts if the same reading system configuration yield different results when tested by different evaluators.</li>
</ul>
 


{% endblock %}
