{% extends 'base.html' %}
{% load assignments %}
{% load filters %}
{% load inclusions %}


{% block title %}:: Compare{% endblock %}

{% block script %}
<script>

function update_number_selected() {
    checkboxes = $("input[name='test-selected'").length;
    checked_items = $("input[name='test-selected']:checked").length;

    $("#number-selected").text(checked_items + " out of " + checkboxes + " selected.");
    
}
$(document).ready(function(){
    $("#testsuite_form .category").change(function(){
        thisid = $(this).attr('value');
        
        if (thisid != null) {
            checked = $(this).prop('checked')
            // the class names id-* identify the parent categories
            children = $("#testsuite_form .id-" + thisid)
            $(children).prop('checked', checked);
        }
    });

    update_number_selected();

    $("input[name='test-selected']").on("click", update_number_selected);
})



</script>
{% endblock %}

{% block content %}
<h1>BISG EPUB 3 Support Grid: Compare by Feature</h1>

<p>Select one or more tests from the list and click "Compare" to see a comparison of all reading systems' performances for a given set of EPUB 3.0 features.</p>

<form action="{{ action_url }}" method="post" id="testsuite_form">{% csrf_token %}

<div class="results">
<table class="table table-striped">
    <thead>
        <tr>
            <th aria-hidden="false" hidden='true'>Selected</th>
            <th aria-hidden="false" hidden='true'>ID</th>
            <th aria-hidden="false" hidden='true'>Description</th>
            <th aria-hidden="false" hidden='true'>Required</th>
        </tr>
    </thead>
    <tbody>
{% for cat in data %}
    {% category_compare_form cat %}
{% endfor %}
</tbody>
</table>

</div>
<p id="number-selected">0 of 0</p> 
<input type="submit" value="Compare" style="margin-top: 30px">
</form>

{% endblock %}
