{% extends 'base.html' %}

{% block title %}:: {{header}}{% endblock %}

{%block script %}
<script>
function delete_item() {
    $.ajaxSetup({
    beforeSend: function(xhr, settings) {
            // Send the token to same-origin, relative URLs only.
            // Send the token only if the method warrants CSRF protection
            // Using the CSRFToken value acquired earlier
            xhr.setRequestHeader("X-CSRFToken", '{{csrf_token}}');
    }
});
    $.ajax({
        url: '{{ confirm_url }}',
        type: 'DELETE',
        success: function(){
            window.location.href = "{{redirect_url}}";
        }
    });
}
</script>
{% endblock %}

{% block content %}

<h1>{{ header }}</h1>

<p class="confirm-warning">{{ warning }}</p>

<a onclick="delete_item()" style="text-decoration: None">
    <button class="btn btn-small" type="button">Yes</button>
</a>

<a href="/manage/" style="text-decoration: None">
    <button class="btn btn-small" type="button">No</button>
</a>

{% endblock %}
