{% extends 'base.html' %}
{% load assignments %}
{% load filters %}

{% block content %}

<h1>{{feature.name}}</h1>

{% if tests|length < 2 %}
<p>The {{feature.name}} feature contains {{tests | length}} test.</p>
{% else %}
<p>The {{feature.name}} feature contains {{tests | length}} tests.</p>
{% endif %}

<!--
<div class="tbl-view">Table view: <a href="#dynamic" id="dynamic" onclick="show('dynamic')">dynamic</a> | <a href="#static" id="static" onclick="show('static')">static</a></div>
<div id="filter" class="filter">Filter by O/S:
    <a href="#all" id="all" onclick="filter('all')">All</a> | 
    <a href="#android" id="android" onclick="filter('android')">Android</a> | 
    <a href="#ios" id="ios" onclick="filter('ios')">iOS</a> | 
    <a href="#win" id="win" onclick="filter('win')">Windows</a>
</div>
-->

<div id="scroll">
<table id="feature" class="table table-feature">
    <thead>
        <th class="rs">Reading System</th>
        <th class="pass">Tests Passed</th>
        {% for test in tests %}
        <th>{{test.name}}</th>
        {% endfor %}
    </thead>
    <tbody>
        {% for evaluation in evaluations %}
        <tr>
            <th class="rs"><a href="/grid/{{evaluation.reading_system_version.reading_system.id}}/testsuite/{{evaluation.testsuite.testsuite_id}}">{{evaluation.reading_system.name}} {{evaluation.reading_system.version}} ({{evaluation.reading_system.operating_system}})</a>
            <br/>
            {% get_metadata evaluation as metadata %}
            {% if metadata != None %}
            <span>{{metadata.assistive_technology}}</span>
            {% endif %}
            </th>
            {% get_score evaluation feature as feature_score %}
            <td class="pass">{{feature_score.fraction}}</td>
            {% for test in tests %}
            {% get_result test evaluation as result %}
            {% if result.result == "1" %}
            <td class="supported">
            {% elif result.result == "2" %}
            <td class="unsupported">
            {% else %}
            <td class="other">
            {% endif %}
                 {{result | get_result_description}}
            </td>
            {% endfor %}
        </tr>
        {% endfor %}
    </tbody>
</table>
</div>

<script>
    $(document).ready(function(){
        dynamicTable();
    });
    
    function dynamicTable() {
        var isMobile = window.matchMedia("only screen and (max-width: 760px)");
        if (isMobile.matches) {
            var table = $('#feature').DataTable({
                "paging":   false,
                "info": false,
                "fixedHeader": true,
                "oLanguage": {
                    "sSearch": "Find Reading System: "
                }
            });
            
            new $.fn.dataTable.FixedHeader( table, {
                // options
            });
        }
        else {
            $('#feature').DataTable({
                "paging":   false,
                "info": false,
                "autoWidth": false,
                "scrollY":        "75vh",
                "scrollX":        true,
                "scrollCollapse": false,
                "fixedColumns": {
                    "leftColumns": 1
                },
                "oLanguage": {
                    "sSearch": "Find Reading System: "
                }
            });
        }
    }
    
    function staticTable() {
        if (!$.fn.DataTable.isDataTable('#feature')) {
            $('#feature').DataTable().destroy();
            //$('#filter').hide();
        }
        $('#scroll').css('overflow', 'auto');
        $('#scroll').css('width', '98%');
    }
    
    function filter(os) {
        $('#feature').DataTable().columns(0).search(os == 'all' ? '' : os).draw();
    }
    
    function show(ttype) {
        if (ttype == 'dynamic') {
            if (!$.fn.DataTable.isDataTable('#feature')) {
                dynamicTable();
                //$('#filter').show();
                $('#scroll').style('overflow', 'visible');
            }
        }
        else {
            if ($.fn.DataTable.isDataTable('#feature')) {
                staticTable();
            }
        }
    }
</script>

{% endblock %}
