{% extends 'base.html' %}

{% block content %}

<h1>EPUB 3 Feature Support</h1>

{% for testsuite in testsuites %}
   <!-- <h1 id="{{testsuite.id}}">{{testsuite.name}}</h1> -->
    {% for category in testsuite.categories %}
        <h2 id="{{category.id}}" class="features">{{category.name}}</h2>
        <ul class="features-list">
        {% for feature in category.features %}
            <li><a href="/testsuite/{{testsuite.id}}/features/{{feature.id}}">{{feature.name}}</a></li>
        {% endfor %}
        </ul>
    {% endfor %}
{% endfor %}

{% endblock %}
