{% extends 'base.html' %}
{% load assignments %}
{% load filters %}

{% block title %}: {{feature.name}} Feature{% endblock %}

{% block content %}

<h1>{{feature.name}}</h1>

{% include '_table_view_links.html' %}

<table id="feature" class="table table-feature">
    <thead>
        <th class="rs">Reading System</th>
        <th class="pass">Tests Passed</th>
        {% for test in tests %}
        <th title="{{test.test_id}}">{{test.name}}</th>
        {% endfor %}
    </thead>
    <tbody>
        {% for evaluation in evaluations %}
        <tr>
            <th class="rs">
                <a href="/evaluation/{{evaluation.id}}">{{evaluation.reading_system | get_reading_system_display_name}}</a>
            <br/>
            {% if feature.testsuite.testsuite_type == "2" %}
                {% get_metadata evaluation as metadata %}
                {% if metadata != None %}
                    <span>{{metadata.assistive_technology}}</span>
                {% endif %}
            {% endif %}
            </th>
            {% get_score evaluation feature as feature_score %}
            <td class="pass">{{feature_score.fraction}}</td>
            {% for test in tests %}
            {% get_result test evaluation as result %}
            {% if result.result == "1" %}
            <td class="supported">
            {% elif result.result == "2" %}
            <td class="unsupported">
            {% else %}
            <td class="other">
            {% endif %}
                 {{result | get_result_description}}
            </td>
            {% endfor %}
        </tr>
        {% endfor %}
    </tbody>
</table>

<script>
    
    var dt = new DT();
    
    $(document).ready(function(){
        setView('');
    });
    
    function setView(tblType) {
        dt.setTableType(tblType);
        var options = {
                searchable: true,
                setDefaultSort: true,
                changeDefaultSort: true,
                tableType: tblType
            }
        dt.initialize(options);
    }
</script>

{% endblock %}
