{% extends 'base.html' %}
{% load assignments %}
{% load filters %}

{% block content %}

<h1>{{feature.name}}</h1>

<p>The {{feature.name}} feature contains {{tests | length}} tests.</p>

<table class="table table-striped">
    <thead>
        <th>Reading System</th>
        <th>Summary</th>
        {% for test in tests %}
        <th>{{test.name}}</th>
        {% endfor %}
    </thead>
    <tbody>
        {% for evaluation in evaluations %}
        <tr>
            <td>{{evaluation.reading_system_version.reading_system.name}} ({{evaluation.reading_system_version.reading_system.operating_system}}) v. {{evaluation.reading_system_version.version}}
            <br/>
            {% get_metadata evaluation as metadata %}
            {% if metadata != None %}
            <span>{{metadata.assistive_technology}}</span>
            {% endif %}
            </td>
            {% get_score evaluation feature as feature_score %}
            <td>{{feature_score.fraction}}</td>
            {% for test in tests %}
            {% get_result test evaluation as result %}
            <td>{{result | get_result_description}}</td>
            {% endfor %}
        </tr>
        {% endfor %}
    </tbody>
</table>

{% endblock %}
