{% extends 'base.html' %}
{% block title %}: Feature Support {% endblock %}
{% block content %}

<h1>Feature Support</h1>

{% for testsuite in testsuites %}
   <h2 id="{{testsuite.id}}" class="features-ts">{{testsuite.name}}</h2>
    {% for category in testsuite.categories %}
        <h3 id="{{category.id}}" class="features-category">{{category.name}}</h3>
        <ul class="colwrap-list">
        {% for feature in category.features %}
            <li><a href="/testsuite/{{testsuite.testsuite_id}}/feature/{{feature.feature_id}}/">{{feature.name}}</a></li>
        {% endfor %}
        </ul>
    {% endfor %}
{% endfor %}

{% endblock %}
