{% load testsuite_extras %}

{% if category.results|length > 0 %}

        <tr class="category">
            <td class="filter-checkbox">
                <input type="checkbox" name="category-selected" value="{{category.item.id}}" class="category {{ category.item|get_parent_ids }}"/>
            </td>
            <td colspan="3">
            {% if category.depth == 0 %}
            <h1 id="c{{category.item.id}}">{{ category.item.name }}</h1>
            {% elif category.depth == 1 %}
            <h2 id="c{{category.item.id}}">{{ category.item.name }}</h2>
            {% elif category.depth == 2 %}
            <h3 id="c{{category.item.id}}">{{ category.item.name }}</h3>
            {% elif category.depth == 3 %}
            <h4 id="c{{category.item.id}}">{{ category.item.name }}</h4>
            {% elif category.depth == 4 %}
            <h5 id="c{{category.item.id}}">{{ category.item.name }}</h5>
            {% else %}
            <h6 id="c{{category.item.id}}">{{ category.item.name }}</h6>
            {% endif %}
            </td>

        </tr>

        {% for t in category.tests %}
            <tr>
                <td class="filter-checkbox">
                    <input type="checkbox" name="test-selected" value="{{t.id}}" class="test {{ t|get_parent_ids }}"/>
                </td>
                <td class="filter-testid">{{t.testid}}</td>
                <td class="filter-desc">{{t.description}}</td>
                <td class="filter-req">
                {% if t.required == True %}
                    Required
                {% else %}
                    Optional
                {% endif %}
                </td>
            </tr>
        {% endfor %}
{% endif %}

{% for subcat in category.subcategories %}
    {% category_filter subcat %}
{% endfor %}

