{% extends 'base.html' %}
{% load assignments %}
{% load filters %}

{% block title %}: Reading System Evaluations
{% if is_archive_view %}
(Archives)
{% endif %}

{% endblock %}

{% block content %}

<h1>Reading System Evaluations {% if is_archive_view %}(Archives){% endif %}</h1>

{% if testsuite.testsuite_type == "2" %}
<div class="grid-desc">
<h2>Information About Test Categories</h2>

<p><em>Essential</em> and <em>Advanced</em> results are presented in this table. The <em>Essential</em> category has several subcategories presented. Reading systems should aim to achieve a full score in these essential tests.</p>


<p>The <em>Advanced</em> subcategories are quite unique and Reading Systems are not expected to achieve a full score in each and every subcategory. The objectives of the advanced subcategories are: </p>
<ul>
	<li>They show us which features are supported in the Reading Systems. Based on these results, we may provide recommendations to application developers.</li>
  <li>We learn which Assistive Technologies support various features being tested. We may provide guidance to AT developers based on these results.</li>
	<li>We can make “best practice” recommendations to authors and publishers based on these results. We will evaluate the results so that we can attain the best reading experience and avoid recommending the lowest common supported implementations.</li>
  <li>Advanced subcategories will prepare Reading Systems for future accessibility advancements. As we make progress and raise the bar for accessibility, advanced tests will become fundamental tests.</li>
</ul>
</div>
{% endif %}

<div class="grid-desc-2">
{% if is_archive_view %}
<p>The following reading system evaluations have been archived but are still available to view. For the latest, please visit the <a href="/">home page</a>.</p>
{% else %}
<p>The following reading systems have been evaluated:</p>
{% endif %}
</div>


{% has_supercategories testsuite.categories as has_supercats %}
{% get_supercategories testsuite.categories as supercats %}

{% include '_table_view_links.html' %}
    <table id="rs" class="table table-striped table-bordered">
        {% if has_supercats %}
        <col>
          {% if testsuite.testsuite_type == "2" %}
          {% comment %}accessibility grid takes an extra column for AT {% endcomment %}
          <colgroup span="2"></colgroup>
          {% else %}
          <colgroup span="1"></colgroup>
          {% endif %}

          {% for supercat in supercats %}
          <colgroup span="{{supercat.value}}"></colgroup>
          {% endfor %}
        </col>
        {% endif %}

        <thead>
          {% if has_supercats %}
          <tr class="table-header-row">
            {% if testsuite.testsuite_type == "2" %}
            {% comment %}accessibility grid takes an extra column for AT {% endcomment %}
            <th colspan="2" scope="colgroup">Reading System</th>
            {% else %}
            <th colspan="1" scope="colgroup">Reading System</th>
            {% endif %}

            {% for supercat in supercats %}
            {% if supercat.name != None %}
            <th colspan="{{supercat.value}}" scope="colgroup">{{supercat.name}}</th>
            {% else %}
            <th colspan="{{supercat.value}}" scope="colgroup"></th>
            {% endif %}
            {% endfor %}
          </tr>
          {% endif %}

          <tr class="table-header-row">
              <!--<th scope="col">#</th>-->
              <th scope="col">Name</th>

              {% if testsuite.testsuite_type == "2" %}
              <th scope="col" class="none">AT</th>
              {% endif %}

              {% for category in testsuite.categories %}
              <th scope="col" class="none">{{category.name}}</th>
              {% endfor %}
          </tr>
        </thead>
        <tbody>
            {% for evaluation in evaluations %}
            <tr>
                <!--<td>{{forloop.counter}}</td>-->
                <th scope="row" class="rsname">
                    <a href="/evaluation/{{evaluation.id}}">{{evaluation.reading_system | get_reading_system_display_name}}</a>
                </td>
                {% if testsuite.testsuite_type == "2" %}
                    {% get_metadata evaluation as metadata %}
                    <td class="rsat">{{metadata.assistive_technology}}</td>
                {% endif %}
                    {% for category in testsuite.categories %}
                        {% get_score evaluation category as category_score %}
                        <td>
                            <a href="/evaluation/{{evaluation.id}}#{{category.category_id}}">
                                {{category_score | score_as_percent}}
                            </a>
                        </td>
                    {% endfor %}
            </tr>
            {% endfor %}
        </tbody>
    </table>

    {% if is_archive_view == False %}
    <p><a href="archive/">View Archives</a></p>
    {% endif %}

    <script>
        var dt = new DT();

        $(document).ready(function(){
            setView('');
        });

        function setView(tblType) {
            dt.setTableType(tblType);
            var options = {
                    searchable: true,
                    setDefaultSort: true,
                    changeDefaultSort: true,
                    tableType: tblType
                }
            dt.initialize(options);
        }
    </script>

{% endblock %}
