{% extends 'base.html' %}
{% load assignments %}
{% load filters %}

{% block content %}

<h1>Reading System Evaluations</h1>

<p>The following reading systems have been evaluated:</p>

    <table id="rs" class="table table-striped">
        <thead>
            <tr>
                <th>#</th>
                <th>Name</th>
                
                {% if testsuite.testsuite_type == "2" %}
                <th class="none">AT</th>
                {% endif %}
                
                {% for category in testsuite.categories %}
                <th class="none">{{category.name}}</th>
                {% endfor %}
            </tr>
        </thead>
        <tbody>
            {% for evaluation in evaluations %}
            <tr>
                <td>{{forloop.counter}}</td>
                <td>
                    <a href="/evaluation/{{evaluation.id}}">{{evaluation.reading_system | get_reading_system_display_name}}</a>
                </td>
                {% if testsuite.testsuite_type == "2" %}
                    {% get_metadata evaluation as metadata %}
                    <td>{{metadata.assistive_technology}}</td>
                {% endif %}
                    {% for category in testsuite.categories %}
                        {% get_score evaluation category as category_score %}
                        <td>
                            <a href="/evaluation/{{evaluation.id}}#{{category.category_id}}">
                                {{category_score.percent | floatformat}}%
                            </a>
                        </td>
                    {% endfor %}
            </tr>
            {% endfor %}
        </tbody>
    </table>
    
    <script>
        $(document).ready(function(){
            var isMobile = window.matchMedia("only screen and (max-width: 760px)");
            if (isMobile.matches) {
                $('#rs').DataTable({
                    "paging":   false,
                    "info": false,
                    "stateSave": true,
                    "responsive": {
                        "details": {
                            "display": $.fn.dataTable.Responsive.display.childRowImmediate,
                            "type": ''
                        }
                    },
                    "oLanguage": {
                        "sSearch": "Find Reading System(s): ",
                        "sSearchPlaceholder": "Enter a name or operating system"
                    }
                });
            }
            else {
                $('#rs').DataTable({
                    "paging":   false,
                    "info": false,
                    "fixedHeader": true,
                    "stateSave": true,
                    "oLanguage": {
                        "sSearch": "Find Reading System(s): ",
                        "sSearchPlaceholder": "Enter a name or operating system"
                    },
                    "aoColumns": [
                        { "asSorting": [ "asc", "desc" ] },
                        { "asSorting": [ "asc", "desc" ] },
                        { "asSorting": [ "desc", "asc" ] },
                        { "asSorting": [ "desc", "asc" ] },
                        { "asSorting": [ "desc", "asc" ] },
                        { "asSorting": [ "desc", "asc" ] },
                        { "asSorting": [ "desc", "asc" ] },
                        { "asSorting": [ "desc", "asc" ] },
                        { "asSorting": [ "desc", "asc" ] },
                        { "asSorting": [ "desc", "asc" ] },
                        { "asSorting": [ "desc", "asc" ] },
                        { "asSorting": [ "desc", "asc" ] },
                    ]
                });
             }
        });
    </script>

{% endblock %}
