{% extends 'base.html' %}
{% load assignments %}
{% load filters %}

{% block content %}

<h1>Reading System Evaluations</h1>

<p>The following reading systems have been evaluated:</p>

    <table id="rs" class="table table-striped">
        <thead>
            <tr>
                <th>#</th>
                <th>Name</th>
                    {% for category in testsuite.categories %}
                    <th>{{category.name}}</th>
                    {% endfor %}
            </tr>
        </thead>
        <tbody>
            {% for reading_system in reading_systems %}
            <tr>
                <td>{{forloop.counter}}</td>
                <td>
                    <a href="/grid/{{reading_system.id}}/ts/{{testsuite.id}}">{{reading_system.name}} ({{reading_system.operating_system}})</a>
                </td>
                
                    {% get_evaluation reading_system testsuite as evaluation %}
                    {% for category in testsuite.categories %}
                        {% get_score evaluation category as category_score %}
                        <td>
                            <a href="/grid/{{reading_system.id}}/ts/{{testsuite.id}}#{{category.category_id}}">
                                {{category_score.percent | floatformat}}%
                            </a>
                        </td>
                    {% endfor %}
            </tr>
            {% endfor %}
        </tbody>
    </table>
    
    <script>
        $(document).ready(function(){
            $('#rs').DataTable({
                "paging":   false,
                "info": false,
                "oLanguage": {
                    "sSearch": "Find Reading System: "
                },
                "aoColumns": [
                    { "asSorting": [ "asc", "desc" ] },
                    { "asSorting": [ "asc", "desc" ] },
                    { "asSorting": [ "desc", "asc" ] },
                    { "asSorting": [ "desc", "asc" ] },
                    { "asSorting": [ "desc", "asc" ] },
                    { "asSorting": [ "desc", "asc" ] },
                    { "asSorting": [ "desc", "asc" ] },
                    { "asSorting": [ "desc", "asc" ] },
                    { "asSorting": [ "desc", "asc" ] },
                    { "asSorting": [ "desc", "asc" ] },
                    { "asSorting": [ "desc", "asc" ] },
                    { "asSorting": [ "desc", "asc" ] },
                ]
            });
        });
    </script>

{% endblock %}
