{% extends 'base.html' %}
{% load testsuite_extras %}
{% block content %}

<h1>Current Results</h1>

<p style="margin-bottom: 20px">These results are based on evaluations of reading system capabilities as described in the <a href="/testsuite/">EPUB Testsuite</a>. Click on a Reading System name in the table below to view details.</p>

{% if view_option = "detail" %}
<p>Switch to <a href="/?view=simple">simple</a> view.</p>
{% else %}
<p>Switch to <a href="/?view=detail">detail</a> view.</p>
{% endif %}

{% if view_option = "detail" %}
<table class="table table-striped table-bordered">
    <thead>
        <tr>
            <th class="text-center">Reading System</th>
            <th class="text-center">Overall score</th>
            {% for cat in categories %}
            <th class="text-center">{{cat.name}}</th>
            {% endfor %}
        </tr>
    </thead>
    <tbody>
    {% if rs_scores|length != 0 %}
    {% for rs_score in rs_scores %}
    {% if rs_score.category_scores != None %}
    {% get_current_evaluation rs_score.reading_system as eval%}
        <tr>
            <td><a href="rs/{{rs_score.reading_system.id}}/">{{ rs_score.reading_system.name }} {{rs_score.reading_system.version}}</a>
                {% if rs_score.reading_system.operating_system != None %}
                <br/>
                <span class="rs-details">{{ rs_score.reading_system.operating_system }}</span>
                {% endif %}
                {% if rs_score.reading_system.locale != None %}
                <br/>
                <span class="rs-details">Locale: {{ rs_score.reading_system.locale }}</span>
                {% endif %}
                {% if eval.flagged_for_review == True %}
                <br/>
                <span class="warn">This evaluation may not be current.</span>
                {% endif %}

            </td>
            <td class="text-center">
                <ul class="list-unstyled scores">
                    <li class="total">Total: {{ rs_score.total_score.pct_total_passed }}%</li>
                {% if rs_score.total_score.num_required_tests = 0 %}
                    <li>Required: N/A</li>
                {% else %}
                    <li>Required: {{ rs_score.total_score.pct_required_passed }}%</li>
                {% endif %}
                {% if rs_score.total_score.num_optional_tests = 0 %}
                    <li>Optional: N/A</li>
                {% else %}
                    <li>Optional: {{ rs_score.total_score.pct_optional_passed }}%</li>
                {% endif %}
                </ul>
            </td>

            {% for category_score in rs_score.category_scores %}
            <td class="text-center">
                <ul class="list-unstyled scores">
                    <li class="total">Total: {{ category_score.pct_total_passed }}%</li>
                {% if category_score.num_required_tests = 0 %}
                    <li>Required: N/A</li>
                {% else %}
                    <li>Required: {{ category_score.pct_required_passed }}%</li>
                {% endif %}
                {% if category_score.num_optional_tests = 0 %}
                    <li>Optional: N/A</li>
                {% else %}
                    <li>Optional: {{ category_score.pct_optional_passed }}%</li>
                {% endif %}
                </ul>
            </td>
            {% endfor %}
        </tr>
    {% endif %}
    {% endfor %}
    {% else %}
        <tr colspan="100"><td>No data available</td></tr>
    {% endif %}
    </tbody>
</table>

{% elif view_option = "simple" %}
<table class="table table-striped table-bordered">
    <thead>
        <tr>
            <th class="text-center" title="Reading system">Reading System</th>
            <th class="text-center" title="Total score: tests passed divided by total number of tests.">Total</th>
            <th class="text-center" title="Required tests score: required tests passed divided by total number of required tests.">Required Tests</th>
            <th class="text-center" title="Optional tests score: optional tests passed divided by total number of optional tests.">Optional Tests</th>
        </tr>
    </thead>
    <tbody>
    {% if rs_scores|length != 0 %}
        {% for rs_score in rs_scores %}
        {% get_current_evaluation rs_score.reading_system as eval%}
        <tr>
            <td>
                <a href="rs/{{rs_score.reading_system.id}}/">{{ rs_score.reading_system.name }} {{rs_score.reading_system.version}}</a>
                {% if rs_score.reading_system.operating_system != None %}
                <br/>
                <span class="rs-details">{{ rs_score.reading_system.operating_system }}</span>
                {% endif %}
                {% if rs_score.reading_system.locale != None %}
                <br/>
                <span class="rs-details">Locale: {{ rs_score.reading_system.locale }}</span>
                {% endif %}
                {% if eval.flagged_for_review == True %}
                <br/>
                <span class="warn">This evaluation may not be current.</span>
                {% endif %}
            </td>
            <td class="text-center">
                <span class="total">{{ rs_score.total_score.pct_total_passed }}%</span>
            </td>
            <td class="text-center">
                {% if rs_score.total_score.num_required_tests = 0 %}
                    <span>N/A</span>
                {% else %}
                    <span>{{ rs_score.total_score.pct_required_passed }}%</span>
                {% endif %}
            </td>
            <td class="text-center">
                {% if rs_score.total_score.num_optional_tests = 0 %}
                    <span>N/A</span>
                {% else %}
                    <span>{{ rs_score.total_score.pct_optional_passed }}%</span>
                {% endif %}
            </td>
        </tr>
        {% endfor %}
        {% endif %}
    </tbody>
    </table>
{% endif %}

<p class="text-muted" style="font-style: italic">Reading Systems tests are based on the version of the test suite that was available on {{testsuite_date}}.</p>

{% endblock %}
