{% extends 'base.html' %}

{% block content %}

<h1>Welcome to the EPUB 3 Support Grid</h1>

<p class="start">This site provides current reading system support information for EPUB 3 features.</p>

<p class="start">To discover more, please select the area you're most interested in:</p>

<nav id="support-nav">
    <div class="framing">
        <div class="button">
            <a href="/features/">
                <span class="button-hd">Features</span>
                <p>Start here if you are looking for support for a specific feature of EPUB 3 across all reading systems.</p>
            </a>
        </div>
        <div class="button">
            <a href="/grid/">
                <span class="button-hd">Reading Systems</span>
                <p>Start here for a general overview of support for major functional areas in reading systems. Links into detailed reports for each reading system are provided on this page.</p>
            </a>
        </div>
        <div class="button">
            <a href="/accessibility/">
                <span class="button-hd">Accessibility Support</span>
                <p>Start here if you are looking for more information about support for accessibility in reading systems.</p>
            </a>
        </div>
    </div>
</nav>

<br/>

<h2 id="support-grid" class="pad-top">About the BISG EPUB 3 Support Grid</h2>
<p>The EPUB 3 Support Grid was designed to be a handy reference to what enhancements and features of EPUB 3.0 render correctly on the most commonly used devices, apps, and reading systems. The Grid represents results of reading system tests conducted with the EPUB Test Suite by industry experts representing leading publishers, service providers, and technology vendors through the auspices of BISG's Content Structure Committee. In addition, accessibility testing has been added to ensure persons with disabilities can effectively use the reading system.</p>

<p>Please visit the <a href="/">EPUB 3 Support Grid</a> to view all test <a href="/results">results</a>, or <a href="/compare">compare</a> support of specific EPUB 3.0 features. Please note that tests used to evaluate reading systems are labeled either Required or Optional. This refers to whether the feature in the specification being tested is required or optional. Scores are calculated as a percentage of tests passed divided by the total number of tests, regardless of whether the test is required or optional. </p>

<p>Until January 2014, when the Grid moved to EPUBtest.org, it was created and updated through the research and reporting of the Content Structure Committee. Through use of the EPUB Test Suite, the EPUB 3 Support Grid provides more reliable, more comprehensive, and more up-to-date reporting on EPUB 3.0 support.</p>

<p>Looking to validate an EPUB file? Go to <a href="http://validator.idpf.org" target="_blank">validator.idpf.org</a>.</p>

<h2 id="testsuite" class="pad-top">About the Test Suite </h2>
<p>The Test Suite is a set of <a target="_blank" href="http://idpf.org/epub/30">EPUB 3.0</a> files designed to enable anyone to systematically test an e-book reading system's support of various EPUB 3.0 features, plus its support for accessibility. While the Test Suite does not present a comprehensive set of test files for every feature included in the EPUB 3.0 spec, it was designed to provide a rigorous performance evaluation of the most commonly used and most essential features of EPUB 3.0.  The current testing process involves manual evaluation and recording of results, as opposed to an automated report. See the <a href="/testsuite">Test Suite</a> page for more details, and instructions on how to test a reading system. </p>

<p>The Test Suite was designed by the IDPF, and is maintained through a partnership between the IDPF, DAISY Consortium and the Book Industry Study Group, who together ensure that the functionality tracked here is of importance to the general book industry.</p>
{% endblock %}
