{% extends 'base.html' %}

{% block nav-home %}<a class="nav-active">EPUB 3 Support Grid</a>{% endblock %}

{% block content %}

<h1>EPUBTest</h1>

<div class="front">

<div class="front-left">

<p>EPUBTest.org is home to both the BISG EPUB 3 Support Grid, a summary of e-book app, device, and reading system performance evaluations for features supported by the IDPF EPUB 3.0 e-book file format, and the EPUB Testsuite, a freely available collection of material created specifically for this purpose. These files were used to generate the results in the BISG EPUB 3 Support Grid.</p>	

<p>What do you want to do?</p>

<ul>
<li><a href="/results/">View the EPUB 3 Support Grid (all results) </a></li>
<li><a href="/compare/">Compare support of specific EPUB 3 features </a></li>
{% if user.is_authenticated %}
<li><a href="/manage/">Evaluate a reading system</a></li>
{% endif %}
<li><a href="/testsuite/">Test a Device, App, or Reading System </a></li>
<li><a href="/testsuite/#instructions-for-accessibility-evaluation">Instructions for Accessibility Evaluation of Reading Systems</a></li>
</ul>

<p>
*If you want to validate an EPUB file, please visit <a href="http://validator.idpf.org">epubcheck</a>.
</p>

</div>

<div class="front-right">
<h2 style="font-size: 24px">About the Testsuite</h2>
<p>The Testsuite is a set of <a target="_blank" href="http://idpf.org/epub/30">EPUB 3.0</a> files designed to enable anyone to systematically test an e-book reading system's support of various EPUB 3.0 features, plus its support for accessibility. <a href="/about#testsuite">Read more about the testsuite.</a> </p>

<h2 style="font-size: 24px">About the BISG EPUB 3 Support Grid</h2> 
<p>The EPUB 3 Support Grid was designed to be a handy reference to what enhancements and features of EPUB 3 render correctly on the most commonly used devices, apps, and reading systems. <a href="/about#support-grid">Read more about the support grid.</a> </p>

</div>

</div>

{% endblock %}
