{% extends 'base.html' %}
{% block title %}: Instructions for Evaluators{% endblock %}
{% block content %}

<h1>Instructions for Evaluators</h1>

<p>The following instructions apply to logged-in users. </p>

<ul>
<li><a href="/login/">Log in</a>.</li>
<li>Go to <a href="/manage/">Manage</a>.</li>
<li>Choose <code>Add Evaluation</code> and follow the instructions on screen. Unless you are performing <a href="/docs/instructions_for_accessibility_evaluators/">accessibility testing</a>, choose <code>EPUB 3</code> as your Test Suite.</li>
<li>You may first wish to add a reading system if it's not already listed on the site.</li>
<li>Start filling out the evaluation details and proceed to the first section.</li>
<li>Download the EPUBs required for each section. They are listed at the top of the relevant evaluation section.</li>
<li>Follow the instructions for each test.</li>
<li>Record the results for each test, using its ID to match the test in the book with the test on the website form. If the test passes, record the result as <code>Supported</code>. Otherwise, choose <code>Not Supported</code>.</li>
<li>Note that you can save an incomplete evaluation form and return to finish it later.</li>
<li>When you are done with all of the tests, go to your <a href="/manage/">Manage</a> page and click the link <code>Request to publish</code> to publish your results.</li>
<li>From time to time, the Test Suite grows. You are encouraged to check back regularly for alerts that your evaluation requires updating</li>
</ul>

{% endblock %}
