{% extends 'base.html' %}
{% block title %}: Instructions for Accessibility Evaluations{% endblock %}
{% block content %}

<h1 id="top">Instructions for Accessibility Evaluations</h1>

<ul>
    <li><a href="#access-overview">Overview</a></li>
    <li><a href="#access-register">Getting Registered</a></li>
    <li><a href="#access-start">Getting Started</a></li>
    <li><a href="#access-testing">Performing the tests</a></li>
</ul>

<h2 id="access-overview">Overview</h2>

<p>The <a href="http://epubtest.org">epubtest.org</a> website allows both EPUB 3 Feature Conformance Testing as well as Accessibility Testing of reading systems. The instructions below apply to accessibility evaluations. If you are interested in EPUB 3 conformance testing, please see the section <a href="/docs/instructions-for-evaluators">Instructions for Evaluators</a>.</p>

<p>The basic assumption of evaluating accessibility is that all reading systems should support reading with eyes, ears, and fingers. It should be possible for users to read the content of the document by:</p>

<ul>
<li>Adjusting the display such as adjusting font size and color combination</li>
<li>Reading the text with screen readers or self-voicing TTS applications</li>
<li>Reading the text with a refreshable Braille display</li>
<li>Reading with assistive technologies designed for persons with dyslexia or other disabilities.</li>
</ul>

<p>To evaluate the accessibility of reading systems, test plans have been prepared with sample content to carry out the tests; the test books provide tests and instructions to the person conducting the test.  The reading systems should be evaluated using a wide variety of assistive technologies, e.g. screen readers, magnifiers, Braille displays and alternative input. Results from the testing of the various configurations must be stored in the form provided on the website.</p>
<p><a href="#top">Back to top</a></p>

<h2 id="access-register">Getting Registered</h2>

<p>If you want to evaluate the accessibility of EPUB 3 reading systems, please contact <a href="mailto:readingsystems@gmail.com?subject=epubtest.org">our community manager</a> and describe the reading system(s) you want to evaluate and the assistive technology you would use. Please also provide a short description of your qualifications or experience.</p>

<p>If you have additional accessibility related questions, you can use the <a href="http://www.daisy.org/contact_us">Contact Us form</a> on the DAISY Consortium website and select Reading System Evaluations in the message category. Your inquiry will be routed to a person from the DAISY Consortium, who will answer your questions.</p>

<p>The appointed moderator will contact you to supervise the testing of your selected reading system. You will be added as an evaluator and provided the appropriate login credentials. You can then evaluate the accessibility of reading systems using the test books and testing form provided on the site.  Testing results will be stored in a central database and may be reviewed by moderators before publishing.  The moderator who contacts you will be your go-to person for assistance in any testing related questions.</p>

<p>If you are interested in being a moderator, please see the <a href="/docs/call-for-moderators">description of qualifications and duties</a> and contact us via one of the methods above.</p>

<p><a href="#top">Back to top</a></p>

<h2 id="access-start">Getting Started</h2>

<ol>
<li>Go to the Manage section.</li>

<li>Choose "Add Evaluation". On the next page select the Reading System you want to evaluate.</li>
<li>You may first wish to add a reading system if it's not already listed on the site.</li>
<li>Under "Select Test Suite", choose Accessibility and click Save.</li>
<li>You will need to provide information on the Assistive Technology, input type and output modes you will test on the next page. You can put any additional information you want to include in the Notes field. Click "Save and continue to next section" button.</li>

 </ol>

<p><a href="#top">Back to top</a></p>
<h2 id="access-testing">Performing the tests</h2>
<ol>
<li>The evaluation is broken up into one or more sections, depending on the Test Suite being evaluated against.</li>

<li>There is a link at the top of the page for each section where you can download the required EPUBs You may also download them from the Test Suite page.</li>

<li>Open the fundamental test book in your Reading System. You will see a series of tests. Each test in the test book has an ID such as file-010. These test IDs correspond to the entries in the form open now on the EPUBTEST website.</li>

<li>Each test includes a description of its purpose followed by the actual test statement, which can generally be determined either to be supported or not supported.</li>

<li>The results of each test should be recorded in the corresponding field in the form. There is a text field for comments in the online form.</li>

<li>You can save the incomplete evaluation form and return to finish it later. </li>

<li>When you have completed all tests, use the <code>Request to Publish</code> link on your "Manage" page to submit your evaluation for publishing.</li>

<li>With time more test books may be added for accessibility evaluation or tests may be modified. Your accessibility evaluation will then be flagged as "Update Required". You are encouraged to visit the site frequently and update your evaluation when requested.</li>
</ol>

{% endblock %}
