{% extends 'base.html' %}

{% block content %}

<h1>Instructions for Evaluators</h1>

<p>If you are interested in becoming an evaluator, please contact <a href="mailto:info@bisg.org?subject=epubtest.org">info@bisg.org</a>. Once you are a registered user of this site (it's free!), your results will be stored in the central database and available for your retrieval but will not be published unless you would like to contribute to the <a href="/rs/">BISG EPUB3 Support Grid</a>. Contact <a href="mailto:info@bisg.org?subject=epubtest.org">info@bisg.org</a> for more information on the publication process.</p>

<p>If you are not interested in becoming an evaluator, you are still encouraged to download the testsuite documents below to test your reading system.</p>

<p>The following instructions apply to logged-in users. </p>

<ul>
<li>Download the zip archive from the <a href="/testsuite/#testsuite-documents">testsuite page</a>.</li>
<li><a href="/login/">Log in</a>.</li>
<li>Go to <a href="/manage/">Manage</a>.</li>
<li>Choose <code>Add Reading System</code>.</li>
<li>Enter the relevant details for your reading system.</li>
<li>Click <code>Save</code>.</li>
<li>From the <code>Actions</code> column, choose <code>Evaluate</code>.</li>
<li>Open your reading system and load each publication. You'll see a series of tests.</li>
<li>Follow the instructions for each test.</li>
<li>Back at epubtest.org, record the results for each test, using its ID to match the test in the book with the test on the website form. If the test passes, record the result as <code>Supported</code>. Otherwise, put down <code>Not Supported</code>.</li>
<li>Note that you can save an incomplete evaluation form and return to finish it later. Also note that evaluation forms autosave every 30 seconds.</li>
<li>When you are done with all of the tests, contact <a href="mailto:info@bisg.org?subject=epubtest.org">info@bisg.org</a> to publish your results.</li>
<li>From time to time, the testsuite grows. You are encouraged to check back regularly for alerts that your evaluation requires updating.</li>
</ul>

{% endblock %}