{% extends 'base.html' %}
{% load assignments %}
{% load filters %}
{% load inclusions %}


{% block title %}:: Manage{% endblock %}
{% block script %}

{% endblock %}

{% block content %}

<h1>Manage Evaluations</h1>


{% if user.is_superuser %}
<h2>Admin</h2>
<p><a href="/evaluation/all">View all evaluations</a></p>
{% endif %}


<h2 class="eval">My evaluations</h2>

{% if evaluations|length = 0 %}
<p class="manage-none">You have not added any evaluations.</p>
{% else %}
<table id="eval" class="table table-striped">
    <thead>
        <tr>
            <th>Link</th>
            <th>Type</th>
            <th>Percent complete</th>
            <th>Published?</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
{% for evaluation in evaluations %}
        <tr>
            <td>
                <a href="/evaluation/{{evaluation.id}}/edit">
                    {{evaluation.reading_system|get_reading_system_display_name}}
                    {% if evaluation.testsuite.testsuite_type == "2" %}
                    <br/>
                    {%get_metadata evaluation as metadata %}
                    {{metadata.assistive_technology}}
                    {% endif %}
                </a>
            </td>
            <td>{{evaluation.testsuite.name}}</td>
            <td>{{evaluation.percent_complete}}%</td>
            <td>{{evaluation.is_published}}</td>
            <td>
                <ul>
                {% if evaluation.is_archived %}
                    <li><a href="/evaluation/{{evaluation.id}}/unarchive/">Unarchive</a></li>
                {% else %}
                    <li><a href="/evaluation/{{evaluation.id}}/archive/">Archive</a></li>
                {% endif %}
                    <li><a href="/evaluation/{{evaluation.id}}/delete/">Delete</li>
                </ul>
            </td>
        </tr>
{% endfor %}
</tbody>
</table>
{% endif %}

<div class="manage-options">
<p><a href="/evaluation/add/">Add evaluation</a></p>
</div>

<h2 class="eval">My reading systems</h2>

{% if reading_systems|length = 0 %}
<p class="manage-none">You have not added any reading systems.</p>
{% else %}
<table id="rs" class="table table-striped">
    <thead>
        <tr>
            <th>Name</th>
            <th>Version</th>
            <th>OS</th>
            <th>OS version</th>
            <th>Notes</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
    {% for reading_system in reading_systems %}
        <tr>
            <td>{{reading_system.name}}</td>
            <td>{{reading_system.version}}</td>
            <td>{{reading_system.operating_system}}</td>
            <td>{{reading_system.operating_system_version}}</td>
            <td>{{reading_system.notes}}
            <td>
                <ul>
                    <li><a href="/rs/{{reading_system.id}}/edit">Edit</a></li>
                    <li><a href="/rs/{{reading_system.id}}/delete">Delete</a></li>
                </ul>
            </td>
        </tr>
    {% endfor %}
    </tbody>
</table>
{% endif %}

<div class="manage-options">
    <p><a href="/rs/add/">Add reading system</a></p>
</div>

<script>
    $(document).ready(function(){
        var isMobile = window.matchMedia("only screen and (max-width: 760px)");
        if (isMobile.matches) {
            initMobile('eval');
            initMobile('rs');
        }
        else {
            initStandard('eval');
            initStandard('rs');
        }
    });
    
    function initMobile(tid) {
        var tbl =  document.getElementById(tid);
        if (typeof(tbl) != 'undefined' && tbl != null) {
            $('#' + tid).DataTable({
                "paging":   false,
                "info": false,
                "searching": false,
                "responsive": {
                    "details": {
                        "display": $.fn.dataTable.Responsive.display.childRowImmediate,
                        "type": ''
                    }
                }
            });
        }
    }
    
    function initStandard(tid) {
        var tbl =  document.getElementById(tid);
        if (typeof(tbl) != 'undefined' && tbl != null) {
            $('#' + tid).DataTable({
                "paging":   false,
                "info": false,
                "searching": false,
                "aoColumns": [
                    { "asSorting": [ "asc", "desc" ] },
                    { "asSorting": [ "asc", "desc" ] },
                    { "asSorting": [ "desc", "asc" ] },
                    { "asSorting": [ "desc", "asc" ] },
                    { "asSorting": [ "desc", "asc" ] },
                    { "asSorting": [ null ]}
                ]
            });
        }
    }
</script>

{% endblock %}
