{% extends 'base.html' %}
{% load testsuite_extras %}

{% block title %}:: Manage{% endblock %}

{% block content %}


<p>You are logged in as {{ display_name }}.</p>

<h1 style="font-size: medium">Reading Systems</h1>

<p>Reading Systems tests are based on the version of the test suite that was available on {{testsuite_date}}.</p>

<table class="table table-striped">
    <thead>
        <tr>
            <th>Name</th>
            <th>Version</th>
            <th>OS</th>
            <th>Locale</th>
            <th>SDK Version</th>
            <th>Evaluation Status</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        {% for r in reading_systems %}
        <tr>
            <td>{{ r.name }} </td>
            <td>{{ r.version }}</td>
            <td>{{ r.operating_system }} </td>
            <td>{{ r.locale }} </td>
            <td>{{ r.sdk_version }} </td>
            <td style="font-style: italic"><p>{{ r|get_status }}</p>
                {% get_current_evaluation r as eval%}
                {% if eval.flagged_for_review == True %}
                <p class="text-warning"><a href="/rs/{{ r.id }}/eval/">Please review this evaluation.</a></p>
                {% endif %}
                <p>Owned by user {{r.user.username}}</p>
            </td>
            <td>
                <ul class="list-unstyled">
                    <li><a href="/rs/{{ r.id }}/">View</a></li>
                    <li>
                    {% if user == r.user %}
                    	<a href="/rs/{{ r.id }}/eval/">Evaluate</a>
                    {% else %}
                    	<span class="text-muted" style="font-style: italic" title="Only the owner can evaluate.">Evaluate</span>
                    {% endif %}
                    </li>
                    <li><a href="/rs/{{ r.id }}/report/">Problem report</a></li>
                    <li><a href="/rs/{{ r.id }}/edit/">Edit Details</a></li>
                    <li><a href="/rs/{{ r.id }}/delete/">Delete</a></li>
                </ul>

            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>

<p><a href="/rs/new">Add Reading System</a></p>
<p><a href="/export/">Download evaluation data</a></p>


{% endblock %}
