{% extends 'base.html' %}
{% block title %}: Participate{% endblock %}
{% block content %}

<h1>Participate</h1>

<h2>Getting Involved</h2>
<p>Thanks for being interested in testing reading systems! We’re thrilled to have your help and hope this page makes it easy for you to sign up and get all the information you need.</p>

<p>There are two test suites: <a href="#accessibility">Accessibility</a> and <a href="#epub3">EPUB3</a>. Descriptions of the testing process for each is outlined below.</p>

<h2 id="accessibility">Accessibility Testing</h2>

<h3>Overview</h3>

<p>The basic assumption of evaluating accessibility is that all reading systems should support reading with eyes, ears, and fingers. It should be possible for users to read the content of the document by:</p>

<ul>
  <li>Adjusting the display such as adjusting font size and color combination</li>
  <li>Reading the text with screen readers, Voiceover, Talkback, Etc.</li>
  <li>Reading the text with a refreshable Braille display</li>
  <li>Reading with assistive technologies designed for persons with dyslexia or other disabilities.</li>
  <li>Reading with a screen magnifier</li>
  <li>To evaluate the accessibility of reading systems, test books have been prepared with sample content to carry out the tests. The test books walk testers through the various accessibility tests and provide instructions on how to determine if the reading system is passing or not.</li>
</ul>

<p>If you have additional questions or concerns, please don’t hesitate to email our <a href="mailto:readingsystems@gmail.com">community manager</a></p>

<h3>What does being a volunteer tester entail?</h3>

<p>This will be a paragraph talking about the time commitment expectations and what it means to be a tester. Testers will sign up for one thing, one reading system and one accessibility technique. They can email the results to the moderator. Load the book, go to the chapter, email the results. It shouldn’t be more than ten minutes.</p>

<h3>How does testing work?</h3>

<p>This will be a short paragraph explaining the fundamental test book and how we use it to test.</p>

<h3>Getting started</h3>

<p>First, <a href="/participate/signup">sign up</a>!</p>

<p>Then please refer to the <a href="/docs/instructions-for-accessibility-evaluators">Instructions for Accessibility Evaluators</a> once you are logged-in and ready to begin your evaluation(s).</p>

<h2 id="epub3">EPUB3 Testing</h2>

<p>The EPUB3 test suite is designed around the <a href="http://www.idpf.org/epub/301/spec/epub-overview.html" target="_blank">EPUB3 specification</a>. It tests many essential features, and although it is thorough, it is not comprehensive.</p>

<p>If you are interested in becoming an evaluator for EPUB3 testing, please contact <a href="mailto:info@bisg.org?subject=epubtest.org">BISG</a>.
  Once you are registered, you can use this site to enter results. Your results will be stored in the central database and will be available for your retrieval
  but will not be published in the <a href="/testsuite/epub3/">EPUB 3 Support Grid</a> until you request it.</p>

<p>Then, once you have an account and are logged-in, refer to <a href="/docs/instructions-for-evaluators">Instructions for Evaluators</a>.</p>

<p>Even if you are not interested in becoming an evaluator, you are still encouraged to <a href="/testsuite/">download the test suite materials</a> to test your reading system.</p>





{% endblock %}
