{% extends 'base.html' %}
{% block title %}:: {{ rs.name }}{% endblock %}

{% load assignments %}
{% load filters %}
{% load inclusions %}



{% block content %}


<div class="reading-system-info panel panel-default">
    <div class="panel-left">
    
<dl class="dl-horizontal">
    <dt>Name</dt>
    <dd>{{ rs.name }}</dd>

    <dt>Version</dt>
    <dd>{{ rs.version }}</dd>

    {% if rs.operating_system|length > 0 %}
    <dt>Operating system</dt>
    <dd>{{ rs.operating_system }}</dd>
    {% endif %}

    {% if rs.notes|length > 0 %}
    <dt>Reading System Notes</dt>
    <dd>{{ rs.notes }}</dd>
    {% endif %}

    <dt>Assistive technology</dt>
    <dd>{{ result_set | get_AT_name }}</dd>
    
    <dt>Assistive technology features</dt>
    <dd>{{result_set | get_AT_metadata_description}}</dd>

    <dt>Accessibility Notes</dt>
    <dd>{{ result_set | get_AT_metadata_notes}}</dd>

    {% if rs.locale|length > 0 %}
    <dt>Locale</dt>
    <dd>{{ rs.locale}}</dd>
    {% endif %}

    
    <dt>Evaluated</dt>
    <dd> 
    {{result_set.last_updated }}</dd>

    
</dl>

    
    </div>
</div>


{% if result_set.flagged_for_review %}
<div class="panel panel-warning">
    <div class="panel-heading">Note</div>
    <div class="panel-body">
        <p>This evaluation may not be current.</p>
    </div>
</div>
{% endif %}

{% if result_set != None %}
<div class="results">
    {% for cat in data %}
        {% accessibility_category cat result_set %}
    {% endfor %}
</div>
{% else %}
<p>Results not available</p>
{% endif %}


{% endblock %}
