{% extends 'base.html' %}
{% load assignments %}
{% load filters %}

{% block content %}

<h1>{{reading_system_version.reading_system.name}} / 
{{reading_system_version.reading_system.operating_system}} / 
{{reading_system_version.version}}</h1>

<h2>{{testsuite.name}}</h2>

{% if evaluations|length > 1 %}
<p>There are {{evaluations | length}} evaluations</p>

<ul>
    {% for evaluation in evaluations %}
    {% get_metadata evaluation as metadata %}
    <li><a href="#eval_{{forloop.counter}}">{{metadata.assistive_technology}}</a></li>
    {% endfor %}
</ul>
{% endif %}

{% for evaluation in evaluations %}

{% if evaluations|length > 1 %}
<h2 id="eval_{{forloop.counter}}">Evaluation #{{forloop.counter}}</h2>
{% endif %}

{% get_metadata evaluation as metadata %}
{% if metadata != None %}
<dl>
    <dt>Assistive technology</dt>
    <dd>{{ metadata.assistive_technology }}</dd>
    
    <dt>Assistive technology features</dt>
    <dd>{{metadata | get_AT_metadata_description}}</dd>
</dl>
{% endif %}

<table class="table table-condensed">
<thead>
    <tr>
        <th>Category</th>
        <th>Feature</th>
        <th>Test</th>
        <th style="width: 200px">Result</th>
    </tr>
</thead>
<tbody>
{% for category in categories %}

{% get_score evaluation category as category_score %}
<tr>
    <td id="{{category.category_id}}"><h2>{{category.name}}</h2></td>
    <td/>
    <td/>
    <td><h2>{{category_score.percent | floatformat}}%</h2></td>
</tr>

{% for feature in category.features %}
{% get_score evaluation feature as feature_score %}
<tr>
    <td/>
    <td id="{{feature.feature_id}}"><h3>{{feature.name}}</h3></td>
    <td/>
    <td><h3>{{feature_score.fraction}}</h3></td>
</tr>
    {% for test in feature.tests %}
    {% get_result test evaluation as test_result%}
<tr>
    <td/>
    <td/>
    <td id="{{test.test_id}}">{{test.name}}</td>
    <td>
        {% if test_result.result == "1" %}
        <span class="supported">
        {% elif test_result.result == "2" %}
        <span class="not-supported">
        {% else %}
        <span>
        {% endif %}
        {{test_result | get_result_description}}
        </span>
    </td>
</tr>
    {% endfor %}

{% endfor %}
{% endfor %}
{% endfor %}
</tbody>
</table>
{% endblock %}
