{% extends 'base.html' %}
{% block title %}:: {{ rs.name }}{% endblock %}

{% load testsuite_extras %}

{% block content %}

{% get_current_evaluation rs as evaluation %}

<div class="reading-system-info panel panel-default">
    {% reading_system rs %}

    <dl class="scores panel-right">
        {% category_scores_as_dl_items first_half evaluation %}
    </dl>

    <dl class="scores panel-right">
        {% category_scores_as_dl_items second_half evaluation %}
    </dl>
</div>

<div class="panel panel-warning">
    <div class="panel-heading">Note</div>
    <div class="panel-body">
        <p>This evaluation may not be current.</p>
    </div>
</div>

<div class="results category-accordion">
    {% for cat in data %}
        {% category cat evaluation False results_form None %}
    {% endfor %}
</div>

<script>
$( ".category-accordion").accordion({ collapsible: true, heightStyle: "content", active: false });
</script>

{% endblock %}
