{% extends 'base.html' %}
{% load assignments %}
{% load filters %}
{% block nav-home %}<a class="nav-active">EPUB 3 Support Grid</a>{% endblock %}

{% block content %}

<h1>Reading Systems</h1>

<p>The following reading systems have been evaluated:</p>

    <table class="table table-striped">
        <thead>
            <tr>
                <th>#</th>
                <th>Name</th>
                    {% for category in testsuite.categories %}
                    <th>{{category.name}}</th>
                    {% endfor %}
            </tr>
        </thead>
        <tbody>
            {% for reading_system in reading_systems %}
            <tr>
                <td>{{forloop.counter}}</td>
                <td>{{reading_system.name}} ({{reading_system.operating_system}})</td>
                
                    {% get_evaluation reading_system testsuite as evaluation %}
                    {% for category in testsuite.categories %}
                        {% get_score evaluation category as category_score %}
                        <td>
                            <a href="/rs/{{reading_system.id}}/ts/{{testsuite.id}}#{{category.id}}">
                                {{category_score.percent | floatformat}}%
                            </a>
                        </td>
                    {% endfor %}
            </tr>
            {% endfor %}
        </tbody>
    </table>

{% endblock %}
