{% extends 'base.html' %}

{% block nav-testsuite %}<a class="nav-active">Testsuite</a>{% endblock %}

{% block title %}:: Testsuite{% endblock %}

{% block content %}

<h1 id="top">Testsuite</h1>

<p>A freely available collection of material created specifically for the purpose of testing reading systems is provided <a href="#testsuite-documents">here</a>. The source from which these downloadable publications are built can be found <a href="https://github.com/IDPF/epub-testsuite">on github</a>. Prebuilt versions are available below.</p>

<h2>Instructions</h2>

<p>Please refer to these instructions, depending on which type of evaluation you are performing:</p>

<ul>
<li><a href="/docs/instructions-for-evaluators">Instructions for evaluators</a></li>
<li><a href="/docs/instructions-for-accessibility-evaluators">Instructions for accessibility evaluators</a></li>
</ul>

<h2 id="testsuite-documents">Testsuite documents</h2>
<p>Temporarily unavailable</p>
<ul>
{% for download in downloads %}
<li><a href="{{download.link}}">{{download.label}}</a></li>
{% endfor %}
</ul>
<p><a href="#top">Back to top</a></p>


{% endblock %}
