{% extends 'base.html' %}

{% block nav-testsuite %}<a class="nav-active">Testsuite</a>{% endblock %}


{% block title %}:: Testsuite{% endblock %}

{% block content %}
<h1>Testsuite</h1>

<p>A freely available collection of material created specifically for the purpose of testing reading systems is provided <a href="#testsuite-documents">here</a>. The source from which these downloadable publications are built can be found <a href="https://github.com/IDPF/epub-testsuite">on github</a>. Prebuilt versions are available at the bottom of this page.</p>

<h2 id="instructions-for-evaluators">Instructions for evaluators</h2>

<p>If you are interested in becoming an evaluator, please contact <a href="mailto:info@bisg.org?subject=epubtest.org">info@bisg.org</a>. Once you are a registered user of this site (it's free!), your results will be stored in the central database and available for your retrieval but will not be published unless you would like to contribute to the BISG EPUB3 Support Grid (the public results available on the front page). Contact <a href="mailto:info@bisg.org?subject=epubtest.org">info@bisg.org</a> for more information on the publication process.</p>

<p>If you are not interested in becoming an evaluator, you are still encouraged to download the testsuite documents below to test your reading system.</p>

<p>The following instructions apply to logged-in users. </p>

<ul>
<li>Download the zip archive from the <a href="#testsuite-documents">list below</a>.</li>
<li><a href="/login/">Log in</a>.</li>
<li>Go to <a href="/manage/">Manage</a>.</li>
<li>Choose <code>Add Reading System</code>.</li>
<li>Enter the relevant details for your reading system.</li>
<li>Click <code>Save</code>.</li>
<li>From the <code>Actions</code> column, choose <code>Evaluate</code>.</li>
<li>Open your reading system and load each publication. You'll see a series of tests.</li>
<li>Follow the instructions for each test.</li>
<li>Back at epubtest.org, record the results for each test, using its ID to match the test in the book with the test on the website form. If the test passes, record the result as <code>Supported</code>. Otherwise, put down <code>Not Supported</code>.</li>
<li>Note that you can save an incomplete evaluation form and return to finish it later. Also note that evaluation forms autosave every 30 seconds.</li>
<li>When you are done with all of the tests, contact <a href="mailto:info@bisg.org?subject=epubtest.org">info@bisg.org</a> to publish your results.</li>
<li>From time to time, the testsuite grows. You are encouraged to check back regularly for alerts that your evaluation requires updating.</li>
</ul>

<h2 id="instructions-for-accessibility-evaluation">Instructions for Accessibility Evaluation of Reading Systems</h2>

<h3>Overview</h3>

<p>The EPUBTEST website now allows both: EPUB 3 Feature Conformance Testing as well as Accessibility Testing of Reading Systems. The instructions below apply to accessibility evaluations. If you are interested in EPUB 3 conformance testing, please see the section <a href="#instructions-for-evaluators">Instructions for Evaluators</a>.</p>
 
<p>The basic assumption of accessibility evaluation is that all Reading Systems should support reading with eyes, ears, and fingers. It should be possible for users to read the content of the document by:</p>

<ul>
<li>adjusting the display such as adjusting font size and color combination</li>
<li>reading the text with screen readers or self-voicing TTS applications</li>
<li>reading the text with a refreshable Braille display</li>
<li>reading with assistive technologies designed for persons with dyslexia or other disabilities.</li>
</ul>

<p>To evaluate the accessibility of Reading Systems, test plans have been prepared with sample content to carry out the tests; the fundamental test book provides the tests and instructions to the person conducting the test.  The Reading Systems should be evaluated using a wide variety of assistive technologies, e.g. Screen Readers, Magnifiers, Braille displays and alternative input. Results from the testing of the various configurations must be stored in the form provided on the website.</p>

<h3>Getting Registered</h3>

<p>If you want to evaluate the accessibility of EPUB 3 Reading Systems, please contact <a href="mailto:info@bisg.org?subject=epubtest.org">info@bisg.org</a> and describe the reading system(s) you want to evaluate and the assistive technology you would use. Please also provide a short description of your qualifications or experience.</p>

<p>If you have additional accessibility related questions, you can use the <a href="http://www.daisy.org/contact_us">Contact Us form</a> on the DAISY Consortium website and select Reading System Evaluations in the message category. Your inquiry will be routed to a person from the DAISY Consortium, who will answer your questions.</p>
 
<p>A BISG representative or the appointed moderator will contact you to supervise the testing of your selected Reading System. You will be added as an evaluator and provided the evaluator login credentials. You can then evaluate the accessibility of reading systems using the test books and testing form provided on the EPUBTEST website.  Testing results will be stored in a central database and may be reviewed by moderators before publishing.  The moderator who contacts you will be your go to person for assistance in any testing related questions.</p>
 
<p>If you are interested in being a moderator, please see the <a href="/call-for-moderators">description of qualifications and duties</a> and contact us via one of the methods above.</p>

<h3>Getting Started</h3>

<ol> 
<li>Once logged in to the epubtest.org site, go to the Test Suite area and download the fundamental test book, which is called Document 0300.</li>

<li>Go to the Manage section.</li>

<li>In the table of reading systems, look for the system you want to evaluate. If you can't find the system's name on the list add a new system for testing. Click on (activate) Add Reading System.</li>

<li>Provide the Reading System information and click (activate) Save. You will be returned to the Manage section.</li>

<li>Under the My Reading Systems section, click on (activate) the Accessibility Evaluation link next to the Reading System you just added.</li>

<li>The next page lists all accessibility evaluations  (in the early stages this may be empty), performed for this reading system with different combinations (configurations) of assistive technologies.  Click on (activate) Add Accessibility Evaluation to add another evaluation with your chosen combination of assistive technology.</li>
 </ol>

<h3>Performing the tests</h3>
<ol>
<li>You will now see the entire form for the fundamental accessibility evaluation with numerous tests. Provide the information related to the chosen assistive technology at the beginning of the form.</li>

<li>At this stage, transfer the fundamental test book(s) downloaded for accessibility evaluation into your Reading System.</li>

<li>Open the fundamental test book in your Reading System. You will see a series of tests. Each test in the test book has an ID such as file--010. These test IDs correspond to the entries in the form open now on the EPUBTEST website.</li>

<li>Each test includes a description of its purpose followed by the actual test statement, which can generally be determined either to be supported or not supported. Some of the tests may not be applicable to all Reading Systems and assistive technology configurations and in such cases the evaluation statement reads "Indicate Pass or Fail or Not Applicable." Please select Not Applicable only when the evaluation statement in the test book explicitly mentions it.</li>

<li>The results of each test should be recorded in the corresponding field in the form. There is a text field for comments in the online form.</li>

<li>You can save the incomplete evaluation form and return to finish it later. Also note that evaluation forms auto save every 30 seconds.</li>

<li>When you have completed all tests, contact your moderator or send an email to <a href="mailto:info@bisg.org?subject=epubtest.org">info@bisg.org</a> to publish your results.</li>

<li>With time more test books may be added for accessibility evaluation or tests may be modified. Your accessibility evaluation will then be flagged as "requires updating". You are encouraged to visit the EPUBTEST website frequently and update your evaluation when requested.</li>
</ol>

<h2 id="testsuite-documents">Testsuite documents</h2>
<ul>
{% for download in downloads %}
<li><a href="{{download.link}}">{{download.label}}</a></li>
{% endfor %}
</ul>



{% endblock %}
